  <!-- Modal -->
  <div class="modal fade" id="tambah" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
          <h1 class="modal-title fs-5" style="color: white;"></i> Tambah Jabatan </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="tambah/" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Jabatan </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="jabatan" id="jabatan" value="{{data.id}}" required/>
                </div>
               <!--  <div class="form-group">
                    <label for="judul">Jabatan</label>
                    <input type="text" placeholder="Masukkan nama..."
                        class="form-control"
                        name="jabatan"
                        id="jabatan" 
                        value="{{data.id}}"
                        required>
                </div> -->
                <div class="mb-3">
                  <p id="error-message"></p>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>