  <!-- Modal -->
  <div class="modal fade" id="tambah" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
          <h1 class="modal-title fs-5" style="color: white;"></i> Tambah Pejabat Pengesah </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body">
            <form action="tambah/" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nama Pegawai</span>
                    <select name="pegawai" id="" class="form-control" required>
                      <option id="nama" value="">pilih pegawai</option>
                      {% for data in pegawai %}
                      <option value="{{ data.id }}">{{ data.nama|title }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nama Jabatan</span>
                    <select name="jabatan" id="" class="form-control" required >
                      <option id="jabatan" value="">pilih Jabatan</option>
                      {% for data in jabatan %}
                      <option value="{{ data.id }}">{{ data.jabatan }}</option>
                      {% endfor %}
                    </select>
                    <!-- <div class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
                      <input class="form-check-input" type="checkbox" value="" name="notifications" checked />
                      <label class="form-check-label">
                          Enabled
                      </label>
                    </div> -->
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm">No Rekening</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="no_rek" id="no_rek" value="{{data.no_rek}}" required />
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nama Bank</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="nama_bank" id="nama_bank" value="{{data.nama_bank}}" required />
                </div>
                <div class="mb-3">
                  <p id="error-message"></p>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>