  <!-- Modal -->
  <div class="modal fade" id="tambah" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
          <h1 class="modal-title fs-5" style="color: white;"></i> Tambah SSH Dalam Daerah </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="tambah/" method="POST" onsubmit="return validation()">
                {% csrf_token %}
              <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Type </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="tipe" id="tipe" value="Uang Harian/Lumpsum" required />
              </div>
              <div class="input-group input-group-sm mb-5 rounded">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Zona </span>
                  <div class="form-check mx-2 mt-2">
                      <input class="form-check-input " value="zona I" type="radio" name="zona" id="zona" required>
                      <label class="form-check-label" for="tipe">
                        Zona I
                      </label>
                  </div>
                  <div class="form-check mx-2 mt-2">
                      <input class="form-check-input" value="zona II" type="radio" name="zona" id="zona" required>
                      <label class="form-check-label" for="tipe">
                        Zona II
                      </label>
                    </div>
                    <div class="form-check mx-2 mt-2">
                      <input class="form-check-input" value="zona III" type="radio" name="zona" id="zona" required>
                      <label class="form-check-label" for="tipe">
                        Zona III
                      </label>
                    </div>
              </div>
                

              <!-- <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Zona </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="zona" id="zona"/>
              </div> -->
              <div class="input-group input-group-sm mb-5 rounded">
                <span class="input-group-text" id="inputGroup-sizing-sm"> Satuan </span>
                <div class="form-check mx-2 mt-2">
                    <input class="form-check-input " value="Orang/Hari" type="radio" name="satuan" id="satuan" required>
                    <label class="form-check-label" for="tipe">
                      Orang/Hari
                    </label>
                  </div>
              </div>
              <!-- <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Satuan </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="satuan" id="satuan"/>
              </div> -->
              <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Uraian </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="uraian" id="uraian" required />
              </div>
              <div class="input-group input-group-sm mb-5">
                <span class="input-group-text" id="inputGroup-sizing-sm"> Harga </span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="harga" id="harga" required />
            </div>
            <div class="input-group input-group-sm mb-5 rounded">
              <span class="input-group-text" id="inputGroup-sizing-sm"> Type Transportasi </span>
              <div class="form-check mx-2 mt-2">
                  <input class="form-check-input " value="darat" type="radio" name="type_tras" id="type_tras" required >
                  <label class="form-check-label" for="tipe">
                    Darat
                  </label>
                </div>
              <div class="form-check mx-2 mt-2">
                  <input class="form-check-input" value="udara" type="radio" name="type_tras" id="type_tras" required >
                  <label class="form-check-label" for="tipe">
                    Udara
                  </label>
                </div>
            </div>
              <!-- <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Type Transportasi </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="type_tras" id="type_tras"/>
              </div> -->
              <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Keterangan </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="ket" id="ket" required />
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>