
  <!-- Modal -->
  <div class="modal fade" id="modal-default{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
          <h1 class="modal-title fs-5" style="color: white;"></i> Tambah SSH Dalam Daerah </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="edit/{{data.id}}" method="POST" onsubmit="return validation()">
                {% csrf_token %}
              <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Type </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="tipeedit" id="tipeedit" value="{{data.tipe}}" required />
              </div>
              <div class="input-group input-group-sm mb-5 rounded">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Zona </span>
                  <div class="form-check mx-2 mt-2">
                      <input class="form-check-input " value="zona I" type="radio" name="zonaedit" id="zonaedit" {% if data.zona == "zona I" %}checked{% endif %} required>
                      <label class="form-check-label" for="zonaedit">
                        Zona I
                      </label>
                  </div>
                  <div class="form-check mx-2 mt-2">
                      <input class="form-check-input" value="zona II" type="radio" name="zonaedit" id="zonaedit" {% if data.zona == "zona II" %}checked{% endif %} required>
                      <label class="form-check-label" for="zonaedit">
                        Zona II
                      </label>
                    </div>
                    <div class="form-check mx-2 mt-2">
                      <input class="form-check-input" value="zona III" type="radio" name="zonaedit" id="zonaedit" {% if data.zona == "zona III" %}checked{% endif %} required>
                      <label class="form-check-label" for="zonaedit">
                        Zona III
                      </label>
                    </div>
              </div>
                

              <!-- <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Zona </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="zona" id="zona"/>
              </div> -->
              <div class="input-group input-group-sm mb-5 rounded">
                <span class="input-group-text" id="inputGroup-sizing-sm"> Satuan </span>
                <div class="form-check mx-2 mt-2">
                    <input class="form-check-input " value="{{data.satuan}}" type="radio" name="satuanedit" id="satuanedit" {% if data.satuan == "Orang/Hari" %}checked{% endif %} required>
                    <label class="form-check-label" for="satuanedit">
                      Orang/Hari
                    </label>
                  </div>
              </div>
              <!-- <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Satuan </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="satuan" id="satuan"/>
              </div> -->
              <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Uraian </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" value="{{data.uraian}}" aria-describedby="inputGroup-sizing-sm" name="uraianedit" id="uraianedit" required />
              </div>
              <div class="input-group input-group-sm mb-5">
                <span class="input-group-text" id="inputGroup-sizing-sm"> Harga </span>
                <input type="text" class="form-control" aria-label="Sizing example input" value="{{data.harga}}" aria-describedby="inputGroup-sizing-sm" name="hargaedit" id="hargaedit" required />
            </div>
            <div class="input-group input-group-sm mb-5 rounded">
              <span class="input-group-text" id="inputGroup-sizing-sm"> Type Transportasi </span>
              <div class="form-check mx-2 mt-2">
                  <input class="form-check-input " value="darat" type="radio" name="type_trasedit" id="type_trasedit" {% if data.type_transportasi == "darat" %}checked{% endif %} required >
                  <label class="form-check-label" for="type_trasedit">
                    Darat
                  </label>
                </div>
              <div class="form-check mx-2 mt-2">
                  <input class="form-check-input" value="udara" type="radio" name="type_trasedit" id="type_trasedit" {% if data.type_transportasi == "udara" %}checked{% endif %} required >
                  <label class="form-check-label" for="type_trasedit">
                    Udara
                  </label>
                </div>
            </div>
              <!-- <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Type Transportasi </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="type_tras" id="type_tras"/>
              </div> -->
              <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Keterangan </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" value="{{data.keterangan}}" aria-describedby="inputGroup-sizing-sm" name="ketedit" id="ketedit" required />
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
