{% extends 'layouts/base_layout.html' %}
{% load static %}
{% block css %}
{% endblock css %}


{% block content %}
<div class="tab-content container-fluid">
    <div class="title mb-5">
        <h1> Verifikasi Data SPT</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                
            </div>
            <div class="col-md-3">
                <div class="table data-table d-flex">
                    <form action="#">
                        <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" id="search">
                    </form>
                    <button class="btn btn-sm btn-success mx-2" type="button">Search</button>
                </div>
            </div>
        </div> 
    </div>

  <div
    id="kt_billing_months"
    class="card-body p-0 tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="kt_billing_months"
  >
  
    <div class="table-responsive">
   
      <table id="datatabel" class="table table-row-bordered gy-5">
        <thead>
            <tr class="fw-semibold fs-6 text-muted">
                <th>No</th>
                <th>No. SPT</th>
                <th>Tanggal</th>
                <th>Uraian</th>
                <th>Pegawai</th>
                <td>Status</td>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
                {% for data in spt %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.no_spt}}</td>
                    <td>{{data.tgl_berangkat|date:"M. d, Y"}}</td>
                    <td>
                        <p>Dilaksanakan Selama : {{data.no_spt}} Hari , <br> Dari Tanggal : <b><i> {{data.tgl_berangkat|date:"M. d, Y" }} s/d {{data.tgl_kembali|date:"M. d, Y" }}</i></b></p>
                        <p>
                           {{data.uraian}}
                        </p>
                    </td>

                    <td>
                        Memerintahkan :<br>
                        <ol>
                            {% for detail_spt in data.detailspt_set.all %}
                                <li>{{ detail_spt.pegawai.nama }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                    {% if data.status == 1 %}
                        <td><a href="#" onclick="Off('{{ data.id }}','{{ data.tahun }}')" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-success btn-active-light-success">Disetujui</a></td>
                    {% elif data.status == 0 %} 
                        <td><a href="#" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger">Tidak Disetujui</a></td>
                    {% else %}
                        <td><a href="#" onclick="approve_('approve', `{{ data.no_spt }}`, '{{ data.id }}')" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-warning btn-active-light-warning">Pending</a></td>
                    {% endif %}
                    <td>
                        <div class="d-flex">
                            <a href="{% url 'sppd:preview_verif' data.id %}" class="btn btn-sm btn-primary me-3"><i class="fa fa-eye"></i></a>
                           
                        </div>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
      </table>
      
    </div>
    
  </div>
</div>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#datatabel').DataTable({
                "searching": true,  // Aktifkan pencarian
                "searchDelay": 500,  // Atur penundaan pencarian (dalam milidetik)
            });
            var table = $('#datatabel').DataTable();
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            } );
        }); 
        function approve_(action, nama, id){
                let pesan = action == 'approve' ? "Approve" : "Not Approve";
                let confirmation = action == 'approve' ? "Approve" : "Not Approve";
                // let url = $(this).attr('href');
                Swal.fire({
                    title: `Apakah kamu yakin ingin meng${pesan} file ${nama}?`,
                    confirmButtonText: confirmation,
                    showDenyButton: true,
                    denyButtonText: 'Not Approve',
                    confirmButtonColor: '#198754',
                    denyButtonColor: '#d33',
                    }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `${action}/${id}`,
                            data: {},
                            dataType: "html",
                            timeout: 10000,
                            beforeSend: function() {
                                Swal.fire({
                                    title: 'Memproses.........',
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                });
                                Swal.showLoading();
                            },
                            success: function(response){
                                Swal.fire(`Kata Mereka berhasil di${pesan}!`, '', 'success');
                                setTimeout(function(){
                                    window.location.href = "";
                                }, 2000); 
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                Swal.fire(`Kata Mereka gagal di${pesan}!`, '', 'error');
                            }
                        });
                        
                    }else if(result.isDenied){
                        $.ajax({
                            url: `notapprove/${id}`,
                            data: {},
                            dataType: "html",
                            timeout: 10000,
                            beforeSend: function() {
                                Swal.fire({
                                    title: 'Memproses.........',
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                });
                                Swal.showLoading();
                            },
                            success: function(response){
                                Swal.fire(`Kata Mereka berhasil di${pesan}!`, '', 'success');
                                setTimeout(function(){
                                    window.location.href = "";
                                }, 2000); 
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                Swal.fire(`Kata Mereka gagal di${pesan}!`, '', 'error');
                            }
                        });
                    }else{
                        window.location.href = "";
                    }
                });

            }
    </script>
{% endblock scripts %}