{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kop Surat</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; /* Menyusun elemen secara vertikal */
    }
    #header {
      text-align: center;
    }
    #logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      /* margin-bottom: 20px;  */
    }
    #logo {
      max-width: 90px;
      max-height: 90px;
      margin-right: 20px; /* Spasi antara logo dan teks */
    }
    #text-container {
      text-align: center;
      margin-bottom: 20px; /* Atur margin bottom pada teks */
    }
    #text-container h3,
    #text-container h1,
    #text-container p {
      margin: 5px 0; /* Merapatkan elemen-elemen ini */
    }
    #address {
      text-align: center;
    }
    #divider {
      width: 100%;
      border-top: 1px solid #000; /* Garis lurus di bawah comment */
      margin-top: 20px; /* Spasi antara garis dan elemen selanjutnya */
      margin-bottom: 20px; /* Spasi bawah garis */
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    th:first-child,
    th:nth-child(2),
    th[colspan="2"],
    th:nth-last-child(2),
    th:last-child,
    th:nth-child(5),
    th:nth-child(6) {
      text-align: center; /* Agar teks pada kolom pertama, kedua, yang di-colspan, dan yang di-posisi terakhir menjadi tengah */
    }

    .sign-box {
      width: 48%;
      padding: 10px;
      margin-top: 20px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      border: 1px solid black;
      box-sizing: border-box;
      text-align: left; /* Mengatur teks menjadi rata kiri */
    }

    .row {
      width: 100%;
    }
    .nonLine{
      border-collapse: collapse;
      width: 100%;
      border: none; /* Menghilangkan garis tabel */
    }
    
  </style>
</head>
<body>
    <!-- Start laporan lembar pengesahan -->
    <div id="header">
        <div id="logo-container">
          <img id="logo" src="{% static 'media/logos/logo.svg' %}" alt="Logo">
          <div id="text-container">
            <h3>PEMERINTAH KABUPATEN DOGIYAI</h3>
            <h1>Pj. Sekretaris Daerah</h1>
            <p>Jl. Trans Nabire-Ilaga KM 200, Kigamani-Papua</p>
          </div>
        </div>
      </div>
    
      <div id="divider"></div>
      <!-- Isi surat dapat ditambahkan di sini -->
    
      <h1><u>LEMBAR PENGESAHAN</u></h1>
      <table>
        <thead>
          <tr>
            <th rowspan="2">No.</th>
            <th rowspan="2">Nama</th>
            <th colspan="2">SPPD</th>
            <th><center>Pengajuan</center></th>
            <th>Realisasi</th>
            <th>Selisih</th>
          </tr>
          <tr>
            <th>Nomor</th>
            <th>Tanggal</th>
            
            <th>Rp</th>
            <th>Rp</th>
            <th>Rp</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Drs. Petrus Agapa, M.Si</td>
            <td>094/        /SPPD/SETDA</td>
            <td>1/13/2023</td>
            <td>79.600.000</td>
            <td>52.670.000</td>
            <td>26.930.000</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Melianus Agapa		</td>
            <td>094/        /SPPD/SETDA</td>
            <td>1/13/2023</td>
            <td>40.500.000</td>
            <td>28.160.000</td>
            <td>12.340.000</td>
          </tr>
          <!-- Tambahkan baris data lainnya sesuai kebutuhan -->
        </tbody>
        <tfoot>
            <tr>
              <th colspan="4">Jumlah</th>
              <th>120.100.000</th>
              <th>80.830.000</th>
              <th>39.270.000</th>
            </tr>
          </tfoot>
      </table>
      <div class="row" style="padding-left: 10px;">
        <div class="sign-box">
          <p>Mengetahui</p>
          <p>Kuasa Pengguna Anggaran</p>
    
          <p style="padding-top: 100px;">DAMIANA TEKEGE, SH., M.Hum</p>
          <p>NIP. 19710221 199803 2 003</p>
        </div>
    
        <div class="sign-box">
            <!-- <p>Mengetahui</p> -->
            <p>Bendahara Pengeluaran Sekretariat Daerah	</p>
            <p style="padding-top: 18px;"></p>
            
            
            <p style="padding-top: 100px;">ALKHANTARA EKO NUGROHO, SE</p>
            <p>NIP. 19851225 201507 1 002</p>
        </div>
      </div>
    
      <div class="row" style="padding-left: 10px;">
        <div class="sign-box">
            <p>Telah Diverifikasi oleh</p>
            <p>Bidang Akuntansi BPKAD</p>
            <p>Tanggal :</p>
      
            <p style="padding-top: 100px;">Verifikator :</p>
            
        </div>
    
        <div class="sign-box">
            <p>Disahkan Oleh :</p>
            <p>Tanggal :</p>
      
            <p style="padding-top: 100px;">Nama :</p>
            <p>NIP. </p>
        </div>
      </div>
      <!-- end laporan lembar pengesahan -->
      <!-- ######################################################################### -->
      <!-- start SPPD Rampung -->
   
      <div id="header">
        <div id="logo-container">
          <img id="logo" src="{% static 'media/logos/logo.svg' %}" alt="Logo">
          <div id="text-container">
            <h3 >PEMERINTAH KABUPATEN DOGIYAI</h3>
            <h1>Pj. Sekretaris Daerah</h1>
            <p>Jl. Trans Nabire-Ilaga KM 200, Kigamani-Papua</p>
          </div>
        </div>
      </div>
    
      <div id="divider"></div>
      <!-- Isi surat dapat ditambahkan di sini -->
    
      <h1><u>PERHITUNGAN RAMPUNG BIAYA PERJALANAN DINAS</u></h1>
      <p>Yang bertanda tangan di bawah ini:</p>
      <table class="nonLine">
        <tr>
            <td></td>
            <td>Nama</td>
            <td>:</td>
            <td>ANDRIAN KAMO</td>
        </tr>
        <tr>
            <td></td>
            <td>NIP</td>
            <td>:</td>
            <td>119670412 200312 1 008</td>
        </tr>
        <tr>
             <td></td>
            <td>Jabatan</td>
            <td>:</td>
            <td>Pejabat Penatausahaan Keuangan/PPK</td>
        </tr>
      </table>
      <p >Berdasarkan Surat Permintaan Pembayaran (SPP) Nomor   :</p>
      <p >dengan ini kami pertanggungjawabkan realisasi biaya perjalanan dinas sebagi berikut:</p>
      <br>
      <table>
        <thead>
          <tr>
            <th rowspan="2">No.</th>
            <th rowspan="2">Nama</th>
            <th colspan="2">SPPD</th>
            <th><center>Pengajuan</center></th>
            <th>Realisasi</th>
            <th>Selisih</th>
          </tr>
          <tr>
            <th>Nomor</th>
            <th>Tanggal</th>
            
            <th>Rp</th>
            <th>Rp</th>
            <th>Rp</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Drs. Petrus Agapa, M.Si</td>
            <td>094/        /SPPD/SETDA</td>
            <td>1/13/2023</td>
            <td>79.600.000</td>
            <td>52.670.000</td>
            <td>26.930.000</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Melianus Agapa		</td>
            <td>094/        /SPPD/SETDA</td>
            <td>1/13/2023</td>
            <td>40.500.000</td>
            <td>28.160.000</td>
            <td>12.340.000</td>
          </tr>
          <!-- Tambahkan baris data lainnya sesuai kebutuhan -->
        </tbody>
        <tfoot>
            <tr>
              <th colspan="4">Jumlah</th>
              <th>120.100.000</th>
              <th>80.830.000</th>
              <th>39.270.000</th>
            </tr>
          </tfoot>
      </table>
      <div class="row" style="padding-left: 10px;">
        <div class="sign-box">
          <!-- <p>Mengetahui</p>
          <p>Kuasa Pengguna Anggaran</p>
    
          <p style="padding-top: 100px;">DAMIANA TEKEGE, SH., M.Hum</p>
          <p>NIP. 19710221 199803 2 003</p> -->
        </div>
    
        <div class="sign-box">
            <p>Kigamani, 13 Maret 2023</p>
            <p>Pejabat Penatausahaan Keuangan/PPK</p>
            <p>Pj. Sekretaris Daerah</p>
            <p style="padding-top: 18px;"></p>
            
            
            <p style="padding-top: 100px;"><u>ANDRIAN KAMO	</u></p>
            <p>NIP. 119670412 200312 1 008	</p>
        </div>
      </div>
      <!-- end SPPD Rampung -->

</body>
</html>
