  <!-- Modal -->
  <div class="modal fade" id="print{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
            <h1 class="modal-title fs-5" style="color: white;"></i> Pilih Pengesah </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div id="pengesah{{data.id}}" class="modal-body">
            <form action="{% url 'sppd:print_biaya' data.id %}" method="POST" target="_blank">
                {% csrf_token %}
               <div class="container">
                <div class="row mb-1">
                    <div class="col">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm" >Nama Pengesah </span>
                            <div class="form-control form-control-sm">
                                <select name="pengesah" class="" data-control="select2" data-dropdown-parent="#pengesah{{data.id}}" data-placeholder="Pilih Pengesah" data-allow-clear="true" required>
                                    <option value="">-Nama Pengesah-</option>
                                    {% for item in pengesah %}
                                    <option value="{{ item.pegawai.id }}">{{ item.pegawai.nama|title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm mb-5"  >
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Tanggal  </span>
                            <input type="date" onfocus="this.showPicker()" name="tanggal" data-placeholder="tanggal" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"> <i class="fa fa-print"></i> Print</button>
                </div>
               </div>
            </form>
        </div>
      </div>
    </div>
  </div>