{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <style>
        body {
          font-family: Arial, sans-serif;
         
        }
        #header {
          text-align: center;
        }
        #logo-container {
          display: flex;
          align-items: center;
          justify-content: center;
          /* margin-bottom: 20px;  */
        }
        #logo {
          max-width: 90px;
          max-height: 90px;
          margin-right: 20px; /* Spasi antara logo dan teks */
        }
        #text-container {
          text-align: center;
          margin-bottom: 20px; /* Atur margin bottom pada teks */
        }
        #text-container h3,
        #text-container h1,
        #text-container p {
          margin: 5px 0; /* Merapatkan elemen-elemen ini */
        }
        #address {
          text-align: center;
        }
        #divider {
          width: 100%;
          border-top: 1px solid #000; /* Garis lurus di bawah comment */
          margin-top: 20px; /* Spasi antara garis dan elemen selanjutnya */
          margin-bottom: 20px; /* Spasi bawah garis */
        }
        table {
          border-collapse: collapse;
          width: 100%;
        }
    
        th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
        }
    
        th {
          background-color: #f2f2f2;
        }
    
        th:first-child,
        th:nth-child(2),
        th[colspan="2"],
        th:nth-last-child(2),
        th:last-child,
        th:nth-child(5),
        th:nth-child(6) {
          text-align: center; /* Agar teks pada kolom pertama, kedua, yang di-colspan, dan yang di-posisi terakhir menjadi tengah */
        }
    
        .sign-box {
          width: 48%;
          padding: 10px;
          margin-top: 20px;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          box-sizing: border-box;
          text-align: left; /* Mengatur teks menjadi rata kiri */
        }
    
        .row {
          width: 100%;
        }
        .nonLine{
          border-collapse: collapse;
          width: 100%;
          border: none; /* Menghilangkan garis tabel */
        }
        
      </style>
</head>
<body onload="window.print();">
    <div
    id="kt_billing_months"
    class="card-body p-0 tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="kt_billing_months"
    >
    <div id="header">
        <div id="logo-container">
          <img id="logo" src="{% static 'media/logos/logo.svg' %}" alt="Logo">
          <div id="text-container">
            <h3>PEMERINTAH KABUPATEN DOGIYAI</h3>
            <h1>Pj. Sekretaris Daerah</h1>
            <p>Jl. Trans Nabire-Ilaga KM 200, Kigamani-Papua</p>
          </div>
        </div>
      </div>
    
      <div id="divider"></div>
      <!-- Isi surat dapat ditambahkan di sini -->

    <div class="tab-content container-fluid">
        <div class="title mb-5">
            <h1 align="center">Data Surat Perintah Tugas ( SPT ) </h1>
        </div>
    
      <div
        id="kt_billing_months"
        class="card-body p-0 tab-pane fade show active"
        role="tabpanel"
        aria-labelledby="kt_billing_months"
      >
      
        <div class="table-responsive">
       
          <table id="datatabel" class="table table-row-bordered gy-5">
            <thead>
                <tr class="fw-semibold fs-6 text-muted">
                    <th>No</th>
                    <th>No. SPT</th>
                    <th>Tanggal</th>
                    <th>Uraian</th>
                    <th>Pegawai</th>
                </tr>
            </thead>
        <tbody>

            {% for data in spt %}
           
                 <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.no_spt }}</td>
                    <td>{{ data.tgl_berangkat|date:"d/m/Y" }}</td>
                    <td>
                        <p>Dilaksanakan Selama: <strong>{{ data.durasi }}</strong> Hari , <br> Dari Tanggal: <b><i>{{ data.tgl_berangkat|date:"d/m/Y" }} - {{ data.tgl_kembali|date:"d/m/Y" }}</i></b></p>
                        <p>
                            {{ data.uraian }}
                        </p>
                    </td>
                    <td>
                        Memerintahkan :<br>
                        <ol>
                            {% for detail_spt in data.detailspt_set.all %}
                                <li>{{ detail_spt.pegawai.nama }}</li>
                            {% endfor %}
                        </ol>
                    </td>
              
                    <!-- {% with has_matching_spt=False %}
                        {% for item in sppd %}
                            {% if item.no_spt == data.no_spt %}
                                {% with has_matching_spt=True %}
                                <div class="d-flex">
                                    <a href="{% url 'sppd:create_sppd_luar' data.id %}" class="btn btn-sm btn-primary me-3"><i class="fa fa-eye"></i></a>
                                    <a href="" class="btn btn-sm btn-success me-3"><i class="fa fa-print"></i></a>
                                </div>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                        {% if not has_matching_spt %}
                            
                        {% endif %}
                    {% endwith %} -->
                        <!-- {% for item in sppd %}
                            {% if item.no_spt == data.no_spt %}
                                <a href="" class="btn btn-xs btn-info">
                                    <span class="fa fa-file"></span> 
                                </a>
                                <a href="" class="btn btn-xs btn-info">
                                    <span class="fa fa-print"></span> 
                                </a>
                            {% elif item.no_spt != data.no_spt %}
                            <a href="{% url 'sppd:create_sppd_luar' data.id %}" class="btn btn-xs btn-info">
                                <span class="fa fa-file"></span> Buat SPPD
                            </a>
                            {% else %}
                            
                            {% endif %}
                        {% endfor %} -->
                    
                 </tr>
           {% endfor %}
        </tbody>

      </table>
    
        <div class="container-fluid" style="margin-top: 50px;">
            <div class="container-sign d-flex justify-content-end mx-5">
                <div class="sign-box">
                  {% for item in pengesah %}
                    <p>Kigamani, {{tanggal}}</p>
                    <p>Pejabat Penatausahaan Keuangan/PPK</p>
                    <p>Pj. {{item.jabatan.jabatan}}</p>
                    <p style="padding-top: 18px;"></p>
                    
                    
                    <p style="padding-top: 100px;"><u>{{item.nama|title}}	</u></p>
                    <p>NIP. {{item.nip}}</p>
                    {% endfor %}
                </div>
            </div>
          </div>
      <!-- end SPPD Rampung -->
    
    </div>   
</body>

</html>
