{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block content %}
<div
id="kt_billing_months"
class="card-body p-0 tab-pane fade show active"
role="tabpanel"
aria-labelledby="kt_billing_months"
>
<div class="tab d-flex mb-5">
  <div class="tab-dalam mx-3">
      <a href="{% url 'sppd:laporan' %}">
          <button type="button" class="btn btn-sm btn-info" style="border: 1px solid #fff;">Rekap SPPD</button>
      </a>
  </div>
  <div class="tab-dalam mx-3">
    <a href="{% url 'sppd:costsheet' %}">
        <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">SPPD Detail</button>
    </a>
  </div>
  <div class="tab-dalam mx-3">
    <a href="{% url 'sppd:rekap_pegawai' %}">
        <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap Data Pegawai</button>
    </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:rekap' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap SPT</button>
  </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:rekap_pengesah' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap Pengesah</button>
  </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:biayarill' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Biaya Rill</button>
  </a>
</div>

</div>
  <h1 class="d-flex justify-content-center"><u>REKAP Surat Perintah Perjalanan Dinas (SPPD)</u></h1>
 
  <div class="tab-dalam mx-3">
    <a href="#" data-bs-toggle="modal" data-bs-target="#printlaporan" class="btn btn-sm btn-success me-3" >Print SPPD
    </a>
  </div>
    <div class="table-responsive">
      <table id="datatabel" class="table table-row-bordered gy-5">
        <thead>
            <tr class="fw-semibold fs-6 text-muted">
                <th>No</th>
                <th>No.SPPD</th>
                <th>Jenis</th>
                <th>Tanggal</th>
                <th>Uraian</th>
                
            </tr>
        </thead>
        <tbody>
            {% for data in sppd %}
            {% include 'rekap_laporan/modal_rekap.html' %}
            <tr>
                  <td>{{ forloop.counter }}</td>  
                  <td>{{ data.no_sppd }}</td>  
                  <td>{{ data.no_spt.status_perjalanan }}</td>  
                  <td>{{ data.no_spt.tgl_berangkat }}</td>  
                  <td style="max-width: 300px;">
                    <p>Dilaksanakan Selama: <strong>{{ data.no_spt.durasi }}</strong> Hari , <br> Dari Tanggal: <b><i>{{ data.no_spt.tgl_berangkat|date:"d/m/Y" }} - {{ data.no_spt.tgl_kembali|date:"d/m/Y" }}</i></b></p>
                    <p>
                        {{ data.no_spt.uraian }}
                    </p>
                </td>  
                
                
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    </div>
    
  <!-- end SPPD Rampung -->

</div>
{% endblock content %}


{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#datatabel').DataTable({
                "searching": true,  // Aktifkan pencarian
                "searchDelay": 500,  // Atur penundaan pencarian (dalam milidetik)
                "lengthMenu": [5, 10, 25, 50, 100], // Opsi panjang tampilan yang tersedia
                "pageLength": 5,
            });
            var table = $('#datatabel').DataTable();
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            } );
        }); 
    </script>
{% endblock scripts %}
