{% extends 'layouts/base_layout.html' %}
{% load static %}
{% block css %}
<style>
    #header {
      text-align: center;
    }
    #logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      /* margin-bottom: 20px;  */
    }
    #logo {
      max-width: 90px;
      max-height: 90px;
      margin-right: 20px; /* Spasi antara logo dan teks */
    }
    #text-container {
      text-align: center;
      margin-bottom: 20px; /* Atur margin bottom pada teks */
    }
    #text-container h3,
    #text-container h1,
    #text-container p {
      margin: 5px 0; /* Merapatkan elemen-elemen ini */
    }
    #address {
      text-align: center;
    }
    #divider {
      width: 100%;
      border-top: 1px solid #000; /* Garis lurus di bawah comment */
      margin-top: 20px; /* Spasi antara garis dan elemen selanjutnya */
      margin-bottom: 20px; /* Spasi bawah garis */
    }


  </style>
{% endblock css %}

{% block content %}
<div
id="kt_billing_months"
class="card-body p-0 tab-pane fade show active"
role="tabpanel"
aria-labelledby="kt_billing_months"
>
<div class="tab d-flex mb-5">
  <div class="tab-dalam mx-3">
      <a href="{% url 'sppd:laporan' %}">
          <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap SPPD</button>
      </a>
  </div>
  <div class="tab-dalam mx-3">
    <a href="{% url 'sppd:costsheet' %}">
        <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">SPPD Detail</button>
    </a>
  </div>
  <div class="tab-dalam mx-3">
    <a href="{% url 'sppd:rekap_pegawai' %}">
        <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap Data Pegawai</button>
    </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:rekap' %}">
      <button type="button" class="btn btn-sm btn-info" style="border: 1px solid #fff;">Rekap SPT</button>
  </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:rekap_pengesah' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap Pengesah</button>
  </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:biayarill' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Biaya Rill</button>
  </a>
</div>

</div>


  <h1 class="d-flex justify-content-center"><u>REKAP SURAT PERINTAH TUGAS(SPT)</u></h1>
 
  <div class="tab-dalam mx-3">
    <a href="#">
      <a href="#" data-bs-toggle="modal" data-bs-target="#printlaporan" class="btn btn-sm btn-success me-3" >Print SPT
    </a>
  </div>
  
    <div class="table-responsive">
   
      <table id="datatabel" class="table table-row-bordered gy-5">
        <thead>
            <tr class="fw-semibold fs-6 text-muted">
                <th>No</th>
                <th>No. SPT</th>
                <th>Tanggal</th>
                <th>Uraian</th>
                <th>Pegawai</th>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
          
            {% for data in spt %}
            {% include 'rekap_laporan/modal_rekap.html' %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.no_spt }}</td>
                    <td>{{ data.tgl_berangkat|date:"d/m/Y" }}</td>
                    <td>
                        <p>Dilaksanakan Selama: <strong>{{ data.durasi }}</strong> Hari , <br> Dari Tanggal: <b><i>{{ data.tgl_berangkat|date:"d/m/Y" }} - {{ data.tgl_kembali|date:"d/m/Y" }}</i></b></p>
                        <p>
                            {{ data.uraian }}
                        </p>
                    </td>
                    <td> 
                        Memerintahkan :<br>
                        <ol>
                            {% for detail_spt in data.detailspt_set.all %}
                                <li>{{ detail_spt.pegawai.nama|title }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                    <td> 
                        {% if data.status == 1 %}
                            <a href="#" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-success btn-active-light-success">Disetujui</a>
                        {% elif data.status == 0 %} 
                            <a href="#" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger">Tidak Disetujui</a>
                        {% else %}
                            <a href="#" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-warning btn-active-light-warning">Pending</a>
                        {% endif %}
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      
    </div>
    

  <!-- end SPPD Rampung -->

</div>
{% endblock content %}


{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#datatabel').DataTable({
                "searching": true,  
                "searchDelay": 500, 
                "lengthMenu": [5, 10, 25, 50, 100], 
                "pageLength": 5,
            });
            var table = $('#datatabel').DataTable();
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            } );
        }); 
    </script>
{% endblock scripts %}
