{% extends 'layouts/base_layout.html' %}
{% load static %}
{% block css %}
<style>
    #header {
      text-align: center;
    }
    #logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      /* margin-bottom: 20px;  */
    }
    #logo {
      max-width: 90px;
      max-height: 90px;
      margin-right: 20px; /* Spasi antara logo dan teks */
    }
    #text-container {
      text-align: center;
      margin-bottom: 20px; /* Atur margin bottom pada teks */
    }
    #text-container h3,
    #text-container h1,
    #text-container p {
      margin: 5px 0; /* Merapatkan elemen-elemen ini */
    }
    #address {
      text-align: center;
    }
    #divider {
      width: 100%;
      border-top: 1px solid #000; /* Garis lurus di bawah comment */
      margin-top: 20px; /* Spasi antara garis dan elemen selanjutnya */
      margin-bottom: 20px; /* Spasi bawah garis */
    }


  </style>
{% endblock css %}

{% block content %}
<div
id="kt_billing_months"
class="card-body p-0 tab-pane fade show active"
role="tabpanel"
aria-labelledby="kt_billing_months"
>
<div class="tab d-flex mb-5">
  <div class="tab-dalam mx-3">
      <a href="{% url 'sppd:laporan' %}">
          <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap SPPD</button>
      </a>
  </div>
  <div class="tab-dalam mx-3">
    <a href="{% url 'sppd:costsheet' %}">
        <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">SPPD Detail</button>
    </a>
  </div>
  <div class="tab-dalam mx-3">
    <a href="{% url 'sppd:rekap_pegawai' %}">
        <button type="button" class="btn btn-sm btn-info" style="border: 1px solid #fff;">Rekap Data Pegawai</button>
    </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:rekap' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap SPT</button>
  </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:rekap_pengesah' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap Pengesah</button>
  </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:biayarill' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Biaya Rill</button>
  </a>
</div>


</div>

  <h1 class="d-flex justify-content-center"><u>REKAP DATA PEGAWAI</u></h1>
 
  <div class="tab-dalam mx-3">
    <a href="#">
      <a href="#" data-bs-toggle="modal" data-bs-target="#printlaporan" class="btn btn-sm btn-success me-3" >Print Data
    </a>
  </div>
    <div class="table-responsive">
        <table id="datatabel" class="table table-row-bordered gy-5">
            <thead>
                <tr class="fw-semibold fs-6 text-muted">
                    <th> No </th>
                    <th> NIP </th>
                    <th> Nama </th>
                    <th> Jabatan </th>
                    <th> Golongan </th>
                    <th> Eselon </th>
                    <th> Pangkat </th>
                    <th> Nomor Hp </th>
                    <th> Email </th>
                    <th> Alamat </th>
                </tr>
            </thead>
            <tbody>
                {% for data in pegawai %}
                {% include 'rekap_laporan/modal_rekap.html' %}
                 <!-- Modal -->
                <!--begin::Table row-->
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{data.nip}}</td>
                  <td>{{data.nama|title}}</td>
                  <td>{{data.jabatan.jabatan}}</td>
                  <td>{{data.golongan}}</td>
                  <td>{{data.eselon}}</td>
                  <td>{{data.pangkat}}</td>
                  <td>{{data.no_hp}}</td>
                  <td>{{data.email}}</td>
                  <td>{{data.alamat}}</td>
                </tr>
                <!--end::Table row-->
                {% endfor %}
                 
            </tbody>
        </table>
    </div>
    
  <!-- end SPPD Rampung -->

</div>
{% endblock content %}


{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#datatabel').DataTable({
                "searching": true,  // Aktifkan pencarian
                "searchDelay": 500,  // Atur penundaan pencarian (dalam milidetik)
                "lengthMenu": [5, 10, 25, 50, 100], // Opsi panjang tampilan yang tersedia
                "pageLength": 5,
            });
            var table = $('#datatabel').DataTable();
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            } );
        }); 
    </script>
{% endblock scripts %}
