{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <style>
        body {
          font-family: Arial, sans-serif;
         
        }
        #header {
          text-align: center;
        }
        #logo-container {
          display: flex;
          align-items: center;
          justify-content: center;
          /* margin-bottom: 20px;  */
        }
        #logo {
          max-width: 70px;
          max-height: 70px;
          margin-right: 20px; /* Spasi antara logo dan teks */
        }
        #text-container {
          text-align: center;
          margin-bottom: 20px; /* Atur margin bottom pada teks */
        }
        #text-container h3,
        #text-container h1,
        #text-container p {
          margin: 5px 0; /* Merapatkan elemen-elemen ini */
        }
        #address {
          text-align: center;
        }
        #divider {
          width: 100%;
          border-top: 1px solid #000; /* Garis lurus di bawah comment */
          margin-top: 2px; /* Spasi antara garis dan elemen selanjutnya */
          margin-bottom: 2px; /* Spasi bawah garis */
        }
        .table-biaya {
          border-collapse: collapse;
          width: 80%;
          margin-left: 5%;
        }
    
        .table-biaya th, .table-biaya td {
            border: 1px solid black;
            padding: 5px; /* Sesuaikan angka ini sesuai kebutuhan Anda */
            text-align: left;
        }
            
        th {
          background-color: #f2f2f2;
        }
    
        th:first-child,
        th:nth-child(2),
        th[colspan="2"],
        th:nth-last-child(2),
        th:last-child,
        th:nth-child(5),
        th:nth-child(6) {
          text-align: center; /* Agar teks pada kolom pertama, kedua, yang di-colspan, dan yang di-posisi terakhir menjadi tengah */
        }
    
        .sign-box {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          box-sizing: border-box;
          text-align: left; 
        }
        .sign-box2 {
          width: 48%;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          box-sizing: border-box;
          text-align: left; 
        }
    
        .row {
          width: 100%;
        }
        .nonLine td {
            padding-left: 10px; /* Sesuaikan angka ini sesuai kebutuhan Anda */
        }

        .page-break {
              page-break-before: always;
            }
        
      </style>
</head>
<body onload="window.print();">
  {% for nama, detail_list in nama_detail_pegawai_list %}
    <div id="header">
        <div id="logo-container">
          <img id="logo" src="{% static 'media/logos/logo.svg' %}" alt="Logo">
          <div id="text-container">
            <h3 >PEMERINTAH KABUPATEN DOGIYAI</h3>
            <h1>Pj. Sekretaris Daerah</h1>
            <p>Jl. Trans Nabire-Ilaga KM 200, Kigamani-Papua</p>
          </div>
        </div>
      </div>
    
      <div id="divider"></div>
      <!-- Isi surat dapat ditambahkan di sini -->
    
      <h2 align="center"><u>DAFTAR PENGELUARAN RILL</u></h2>
      <p>Yang bertanda tangan di bawah ini:</p>
      <table class="nonLine">
        <tr>
            <td></td>
            <td>Nama</td>
            <td>:</td>
            <td>{{nama}}</td>
        </tr>
        <tr>
            <td></td>
            <td>NIP</td>
            <td>:</td>
            <td>{{ detail_list.0.nip }}</td>
        </tr>
        <tr>
             <td></td>
            <td>Jabatan</td>
            <td>:</td>
            <td>{{ detail_list.0.jabatan }}</td>
        </tr>
      </table>
      <p>
        Berdasarkan Surat Perjalanan Dinas (SPD) tanggal {{tanggal|date:"d-m-Y"}} Nomor {{no_sppd}}, dengan ini saya menyatakan dengan sesungguhnya bahwa:											
      </p>
      <ol>
        <li>
            <p>
                Biaya transport Pegawai dan/atau biaya penginapan di bawah ini yang tidak dapat diperoleh bukti-bukti pengeluarannya, meliputi:										
            </p>
        </li>
    </ol>
      <br>
      <table class="table-biaya">
        <thead>
          <tr>
            <th>Nomor</th>
            <th>Uraian</th>
            <th>Jumlah</th>
          </tr>
        </thead>
        <tbody>
          {% for detail in detail_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ detail.uraian_ssh}}</td>
              <td>{{ detail.subtotal|intcomma }}</td>
            </tr>
            {% endfor %}
            <!-- Tambahkan baris data lainnya sesuai kebutuhan -->
        </tbody>
        <tfoot>
            <tr>
              <th colspan="2">Jumlah</th>
              <th>{{detail_list.0.total|intcomma}}</th>
            </tr>
          </tfoot>
          
      </table>

      <ol start="2">
        <li>
            <p>
              Jumlah uang tersebut pada angka 1 di atas benar-benar dikeluarkan untuk pelaksanan perjalanan dinas dimaksud dan apabila di kemudian hari terdapat kelebihan atas pembayaran, kami bersedia untuk menyetorkan kelebihan tersebut ke Kas Negara.            </p>
        </li>
      </ol>

      <p>Demikian pernyataan ini kami buat dengan sebenarnya, untuk dipergunakan sebagaimana mestinya.</p>
      <div class="row" style="padding-left: 5px;">
        <div class="sign-box">
          <p>Mengetahui/Menyetujui</p>
          <p>Pejabat Pembuat Komitmen</p>
          <p style="padding-top: 18px;"></p>
          
          {% for dt_pengesah in pengesah %}
          <p style="padding-top: 50px;">{{dt_pengesah.pegawai.nama}}</p>
          <p>NIP. {{dt_pengesah.pegawai.nip}}</p>
          {% endfor %}
        </div>
    
        <div class="sign-box2">
            <p>{{tgl_pengesah}}</p>
            <p>Yang melakukan perjalanan dinas</p>
            <p style="padding-top: 18px;"></p>
        
            
            <p style="padding-top: 50px;"><u>{{nama|title}}</u></p>
            <p>NIP. {{detail_list.0.nip}}	</p>
        </div>
        </div>
        {% if not forloop.last %}
      <div class="page-break"></div>
    {% endif %}
{% endfor %}

      <!-- end SPPD Rampung -->
</body>

</html>
