{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Perjalanan</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        .table-line th, .table-line td {
            border: 1px solid black;
            padding: 2px;
            text-align: left;
        }

        .table-header th, .table-header td{
            vertical-align: top;
        }
        .table-sign{
            max-width: 200px;
            margin-left: 30px;
        }
        .container-sign{
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body onload="window.print();">

   <center> <h2>PERMINTAAN BIAYA PERJALANAN DINAS</h2></center>
   {% for dt_header in spt %}
   <table class="table-header">
    <tr>
        <td style="width: 200px; max-width: 200px;" >Nomor Cost Sheet:</td>
        <td>:</td>
        <td>test</td>
        <td style="padding-left: 30px; width: 150px;">Jumlah Anggaran</td>
        <td>:</td>
        <td>{{dt_header.kegiatan.pagu|intcomma}}</td>
    </tr>
    <tr>
        <td>Maksud Perjalanan Dinas</td>
        <td>:</td>
        <td>
            {{dt_header.uraian}}
        </td>
        <td style="padding-left: 30px; width: 150px;">Realisasi Lalu </td>
        <td>:</td>
        <td>{{dt_header.kegiatan.pagu_p|intcomma}}</td>
      
    </tr>
    <tr>
        <td>Pembebanan Anggaran:</td>
        <td>:</td>
        <td>{{dt_header.kegiatan.sumber_dana}}</td>
        <td style="padding-left: 30px; width: 150px;">Saldo Lalu</td>
        <td>:</td>
        <td>{{dt_header.kegiatan.pagu|intcomma}}</td>
    </tr>
    {% for dt_sppd in dt_header.sppd_set.all %}
    <tr>
        <td>Nomor SPT</td>
        <td>:</td>
        <td>{{ dt_header.no_spt }}</td>
        <td style="padding-left: 30px; width: 150px;">Pengajuan Sekarang</td>
        <td>:</td>
        <td>{{dt_sppd.total_perjalanan|intcomma}}</td>
        
    <tr>
        <td>Nomor SPPD</td>
        <td>:</td>
        <td>{{dt_sppd.no_sppd}}</td>
        <td style="padding-left: 30px; width: 150px;">Saldo Sekarang</td>
        <td>:</td>
        <td>{{saldo_sekarang|intcomma}}</td>
    </tr>
    {% endfor %}
    </tr>
    <tr >
        <td>Kode Program:</td>
        <td>:</td>
        <td style="max-width: 200px;">{{dt_header.kegiatan.kd_program}}</td>
    </tr>
    <tr>
        <td>Kode Kegiatan:</td>
        <td>:</td>
        <td>{{dt_header.kegiatan.kd_kegiatan}}</td>
    </tr>
</table>
{% endfor %}

<br>
    <table class="table-line">
        <thead>
            <tr>
                <th rowspan="2">No.</th>
                <th rowspan="2">Nama</th>
                <th rowspan="2">Jabatan</th>
                <th colspan="2"><center>Kota</center></th>
                <th colspan="3"><center>Tanggal</center></th>
                <th colspan="7"><center>Jumlah Rp.</center></th>
                
            </tr>
            <tr>
                <th>Keberangkatan</th>
                <th>Tujuan</th>
                <th>Berangkat</th>
                <th>Kembali</th>
                <th>Jml hari</th>
                <th>Uang Harian</th>
                <th>Biaya Hotel</th>
                <th>Tiket (pp)</th>
                <th>Transport Lokal</th>
                <th>Representatif</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for details in data_sppd %}
            
            <tr>
                <td><center>{{forloop.counter}}</center></td>
                <td><center>{{ details.nama }}</center></td>
                <td><center>{{ details.jabatan }}</center></td>
                <td><center>{{ details.awal }}</center></td>
                <td><center>{{ details.tujuan }}</center></td>
                <td><center>{{ details.berangkat }}</center></td>
                <td><center>{{ details.kembali }}</center></td>
                <td><center>{{ details.durasi }}</center></td>
                <td><center>{{ details.harian|intcomma }}</center></td>
                <td><center>{{ details.hotel|intcomma }}</center></td>
                <td><center>{{ details.tiket|intcomma }}</center></td>
                <td><center>{{ details.transport|intcomma }}</center></td>
                <td><center>{{ details.represen|intcomma }}</center></td>
                <td><center>{{ details.total|intcomma }}</center></td>   

            </tr>
            {% endfor %}
            <!-- Tambahkan baris lain sesuai kebutuhan -->
        </tbody>
        <tfoot>
            <tr>
                <th colspan="7"> Jumlah</th>
                <th><center>{{durasi}}</center></th>
                <th> <center>{{harian_all|intcomma}}</center> </th>
                <th> <center>{{hotel_all|intcomma}}</center> </th>
                <th> <center>{{tiket_all|intcomma}}</center> </th>
                <th> <center>{{transport_all|intcomma}}</center> </th>
                <th> <center>{{represen_all|intcomma}}</center> </th>
                <th> <center>{{total_all|intcomma}}</center> </th>

            </tr>
        </tfoot>
    </table>
    <div class="container-sign">
        <div class="sign1">
            <p><strong>Mengetahui/Menyutujui:</strong></p>
            <p>Pengguna anggaran</p>
            <p>Jabatan</p>
            <table class="table-sign">
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td>13 MEI 2023</td>
                </tr>
                <tr>
                    <td>catatan</td>
                    <td>:</td>
                    <td></td>
                </tr>
            </table>
            <p style="padding-top: 100px;"><center>Nama Pegawai</center></p>
            <p><center>NIP.</center></p>
        </div>
        <div class="sign2">
            <p><strong>Mengesahkan:</strong></p>
            <p></p>
            <p>Jabatan</p>
            <table class="table-sign">
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td>13 MEI 2023</td>
                </tr>
                <tr>
                    <td>catatan</td>
                    <td>:</td>
                    <td></td>
                </tr>
            </table>
            <p style="padding-top: 100px;"><center>Nama Pegawai</center></p>
            <p><center>NIP.</center></p>
        </div>
        <div class="sign3">
            <p><strong>Yang Mengajukan</strong></p>
            <p></p>
            <p>Jabatan</p>
            <table class="table-sign">
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td>13 MEI 2023</td>
                </tr>
                <tr>
                    <td>catatan</td>
                    <td>:</td>
                    <td></td>
                </tr>
            </table>
            <p style="padding-top: 100px;"><center>Nama Pegawai</center></p>
            <p><center>NIP.</center></p>
        </div>
    </div>

</body>
</html>
