{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contoh Kwitansi</title>
    <style>
        @media print {
            body {
                -webkit-print-color-adjust: exact;
                        print-color-adjust: exact;
            }
            }
        .container {
            width: 100%;
            height: 188px;
            position: relative;
        }
        .container-tittle{
            width: 100%;
        }
        .container-fluid{
            width: 100%;
        }

        .green-box {
            display: flex;
            gap: 10px;
            width: 100%;
            left: 0px;
            padding: 10px;
            top: 0px;
            background-color: #00B050 !important;
            border: 1px black solid;
        }

        .container-image {
            width: 109px;
            height: auto;
            margin-left: 50px;
            
        }

        .container-image img{
            width: 100%;
            height: 100%;
        }

        .container-kwitansi {
            margin-top: 30px;
            left: 0;
            padding-left: 5px;
            padding-right: 5px;
            height: 70px;
            font-size: 12px;
            background-color: #ffff;
            border: 1px black solid;
        }
        

        .white-box2{
            color: #0000;
            background-color: #ffff;
           
        }

        .titel-header{
            width: 400px;
            height: 149px;
            color: #ffff;
        }

        .titel-header h2{
            font-size: 20px;
        }

        .address-box {
            width: 300px;
        }
        .page-break {
              page-break-before: always;
            }
       
    </style>
</head>
<body onload="window.print();">
{% for dt_pegawai in data_sppd %}
    <div class="container">
        <div class="green-box ">
            <div class="container-image">
                <img class="image-box" src="{% static 'media/logos/logo.svg' %}" />
            </div>
            <div class="titel-header">
                <h2>PEMERINTAH KABUPATEN DOGIYAI</h2>
                <h2>SEKRETARIAT DAERAH</h2>
                <div class="address-box">
                    <p>Jl. Trans Nabire - Ilaga Km. 200</p>
                    <p style="margin-top: -16px; font-size: 16px;">Kigamani, Kabupaten Dogiyai - Papua</p>
                </div>
            </div>
            <div class="container-kwitansi">
                    <p>Kwitansi Nomor :</p>
                    <p>/KWI/SET/2023</p>
            </div>
        </div>
        
    </div>
    <div class="container-tittle">
        <h1 align="center"><u>KWITANSI PEMBAYARAN PERJALANAN DINAS</u></h1>
    </div>
   <table>
    <tr>
       <td>
        Sudah Terima Dari
       </td> 
       <td>
        :
       </td>
       <td align="left">
        Bendahara Pengeluaran Sekretariat Daerah 
       </td>
    </tr>

    <tr>
        <td valign="top">
            Untuk Pembayaran
        </td>
        <td valign="top">
            :
        </td>
        <td>
            Biaya Perjalanan Dinas {{ dt_pegawai.status_perjalanan }} Golongan {{ dt_pegawai.golongan }}, Kigamani Kab.Dogiyai- <br>
            Mapia (PP) dan Lumpsum {{dt_pegawai.durasi }}  hari : <br>
            {{ dt_pegawai.uraian }}
        </td>
    </tr>
   

    <tr>
        <td>
            Atas Nama
        </td>
        <td>
            :
        </td>
        <td>
            {{ dt_pegawai.nama }}
        </td>
        
    </tr>
</table>

<table>

    <tr>
        
        <td rowspan="7" valign="top">
                I.
        </td>
        <td> Dasar Pembayaran</td>
    
    </tr>

    <tr>
        <td >SPT Nomor </td>
        <td >:
        </td>
        <td>
            {{dt_pegawai.no_spt}}
        </td>
    </tr>
    <tr>
        <td>
            SPPD Nomor
        </td>
        <td> : </td>
        <td> {{ dt_pegawai.no_sppd}}</td>
    </tr>
    <tr>
        <td>Tgl.Berangkat</td>
        <td>:</td>
        <td> {{ dt_pegawai.berangkat|date:"d F Y" }} </td>
    </tr>
    <tr>
        <td> Tgl. Tiba Kembali</td>
        <td>:</td>
        <td>{{ dt_pegawai.kembali|date:"d F Y" }}</td>
    </tr>

    <tr>
        <td>Sumber Dana</td>
        <td>:</td>
        <td>{{ dt_pegawai.dana }}</td>
    </tr>
    <tr>
        <td>Kode Kegiatan</td>
        <td>:</td>
        <td>{{dt_pegawai.kegiatan }}</td>
    </tr>
   </table>
   <table border="0" cellspacing="3">
    <tr>
        
        <td valign="top">
                II.
        </td>
        <td> Dasar Pembayaran</td>
    
    </tr>

            <tr>
                <td>1</td>
                <td>Tiket (PP)</td>
                <td>:</td>
                <td style="width: 160px;" >Kigamani - {{ dt_pegawai.tujuan|title }}</td>
                <td>tgl</td>
                <td>:</td>
                <td>{{dt_pegawai.berangkat|date:"d/f/y"}}</td>
                <td>:</td>
                <td>Rp.{{ dt_pegawai.tiket|intcomma }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ dt_pegawai.tujuan|title }} - Kigamani</td>
                <td>tgl</td>
                <td>:</td>
                <td>{{dt_pegawai.kembali|date:"d/f/y"}}</td>
                <td>:</td>
                <td>Rp.{{ dt_pegawai.tiket|intcomma }}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Transport Lokal (PP)</td>
                <td>:</td>
                <td>Kigamani - Nabire</td>
                <td>tgl</td>
                <td>:</td>
                <td>{{dt_pegawai.berangkat|date:"d/f/y"}}</td>
                <td>:</td>
                <td>Rp.{{ dt_pegawai.transport|intcomma }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>:</td>
                <td>Nabire - Kigamani</td>
                <td>tgl</td>
                <td>:</td>
                <td>{{dt_pegawai.kembali|date:"d/f/y"}}</td>
                <td>:</td>
                <td>Rp.{{ dt_pegawai.transport|intcomma }}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Biaya Penginapan</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>a. Hotel</td>
                <td>:</td>
                <td colspan="4">2 hari X Rp 650.000 + Rp     -  </td>
                <td>:</td>
                <td>Rp 3812981</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>:</td>
                <td>Check In Tgl:</td>
                <td>:</td>
                <td colspan="3" style="width: 120px;">12/12/2021</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>:</td>
                <td>Check Out Tgl:</td>
                <td>:</td>
                <td colspan="3">12/12/2021</td>
            </tr>
            <tr>
                <td></td>
                <td>b. Non Hotel (30%)</td>
                <td>:</td>
                <td colspan="4">30% X 0 Hari X Rp. -</td>
                <td>:</td>
                <td>Rp 3812981</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Lumpsum Eselon II</td>
                <td>:</td>
                <td colspan="4">{{dt_pegawai.durasi }} hari X Rp {{dt_pegawai.nilai_tiket }}</td>
                <td>:</td>
                <td>Rp {{ dt_pegawai.hotel }}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Representatif</td>
                <td>:</td>
                <td>2 X Rp 650.000</td>
                <td colspan="3"></td>
                <td>:</td>
                <td colspan="4" style="border-bottom: 2px solid black;" >Rp 3812981</td>
                <td>+</td>
            </tr>
            <tr>
                <td></td>
                <td align="right">Jumlah</td>
                <td colspan="5" ></td>
                <td>:</td>
                <td>Rp 4,400,000</td>
            </tr>
            <tr>
                <td></td>
                <td align="right">Pembulatan</td>
                <td colspan="5" ></td>
                <td>:</td>
                <td style="border-bottom: 2px solid black;" >-</td>
                <td> - </td>
            </tr>
            <tr>
                <td></td>
                <td align="right" >Jumlah Dibayarkan</td>
                <td colspan="5" ></td>
                <td>:</td>
                <td>Rp 4,400,000</td>
            </tr>
   </table>
        <p>Terbilang: <em>(Empat Juta Lima Ratus Ribu Rupiah)</em></p>

    <p align="right" style="margin-right: 100px;">Kigamani, 13 Maret 2023</p>
    <p align="right" style="margin-right: 100px;">Yang Menerima,*)</p>
    <p align="right"style="margin-right: 100px;">Materai 6.000</p>
    <p align="right"style="margin-right: 100px;">Nason Pigai, S.IP</p>

    <div class="row" style="padding-left: 10px; display: flex;  justify-content: space-between;">
        <div class="sign-box">
          <p>Mengetahui</p>
          <p>Kuasa Pengguna Anggaran</p>
          <p>Plh. Sekretaris Daerah</p>
    
          <p style="padding-top: 100px;">DAMIANA TEKEGE, SH., M.Hum</p>
          <p>NIP. 19710221 199803 2 003</p>
        </div>
    
        <div class="sign-box" >
            <p>Kigamani, 13 Maret 2023</p>
            <p>Pejabat Penatausahaan Keuangan/PPK</p>
            <p>Pj. Sekretaris Daerah</p>
            <p style="padding-top: 18px;"></p>
            
            
            <p style="padding-top: 100px;"><u>ANDRIAN KAMO	</u></p>
            <p>NIP. 119670412 200312 1 008	</p>
        </div>
    </div>
        {% if not forloop.last %}
        <div class="page-break"></div>
    {% endif %}
{% endfor %}
</body>
</html>



