{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        td {
            /* font-weight: bold; */
            font-size: 24px;
            
        }

        h1 {
            font-size: 18px; 
        }
        .sign-box {
          width: 48%;
          padding: 10px;
          margin-top: 20px;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          border: 1px solid black;
          box-sizing: border-box;
          text-align: left; /* Mengatur teks menjadi rata kiri */
        }
    
        .row {
          width: 100%;
        }
        .nonLine{
          border-collapse: collapse;
          width: 100%;
          border: none; /* Menghilangkan garis tabel */
        }
        
    </style>
</head>
<body>
    <table style="width: 100%;">
        <tr align="center">
            <td> 
                <span style="font-size: 36px;">PEMERINTAH KABUPATEN DOGIYAI <br> SEKRETARIAT DAERAH</span>
            </td>
        </tr>
    </table>

    <h1 align="center">RINCIAN BIAYA PERJALANAN DINAS</h1>

<table cellpadding="15">
    <tr>
        
        <td><u> LAMPIRAN SPD</u></td>
    </tr>

    <tr>
        <td>Nomor</td>
        <td>:</td>
        <td>094/</td>
        <td>/SPPD/SET/2023</td>
    </tr>
    
    <tr>
        <td>Tanggal</td>
        <td>:</td>
        <td>11 Januari 2023</td>
    </tr>

</table>

 <!-- Tabel baru untuk No, Perincian Biaya, Jumlah, dan Keterangan -->
 <table border="1" cellpadding="15" style="width: 100%;">
   <thead>
        <th>No</th>
        <th>Perincian Biaya</th>
        <th>Jumlah(Rp)</th>
        <th>Keterangan</th>
   </thead>
   <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
   </tbody>
   <tfoot>
        <tr>
            <th></th>
            <th>Total</th>
            <th>Rp 4,000,000</th>
            <th></th>
        </tr>
   </tfoot>
</table>
<p>
    Terbilang:
</p>
<div class="row" style="padding-left: 10px;">
    <div class="sign-box">
      <p>Mengetahui</p>
      <p>Kuasa Pengguna Anggaran</p>

      <p style="padding-top: 100px;">DAMIANA TEKEGE, SH., M.Hum</p>
      <p>NIP. 19710221 199803 2 003</p>
    </div>

    <div class="sign-box">
        <p>Kigamani, 13 Maret 2023</p>
        <p>Pejabat Penatausahaan Keuangan/PPK</p>
        <p>Pj. Sekretaris Daerah</p>
        <p style="padding-top: 18px;"></p>
        
        
        <p style="padding-top: 100px;"><u>ANDRIAN KAMO	</u></p>
        <p>NIP. 119670412 200312 1 008	</p>
    </div>
    </div>

<h5>PERHITUNGAN SPPD RAMPUNG  :</h5>
    <div class="row" >
        <div class="sign-box">
          <table>
            <tr>
                <th>Ditetapkan sejumlah</th>
                <th>Rp</th>
                <th>4,400,000 </th>
            </tr>
            <tr>
                <th>Yang telah dibayarkan semula</th>
                <th>Rp</th>
                <th><u>4,400,000</u></th>
            </tr>
            <tr>
                <th>Yang telah dibayarkan semula</th>
                <th>Rp</th>
                <th></th>
            </tr>
          </table>
        </div>
    
        <div class="sign-box">
            <div style="padding-top: 100px;">
                <p>Kigamani, 13 Maret 2023</p>
                <p>Pejabat Penatausahaan Keuangan/PPK</p>
                <p>Pj. Sekretaris Daerah</p>
                <p style="padding-top: 18px;"></p>
                
                
                <p style="padding-top: 100px;"><u>ANDRIAN KAMO	</u></p>
                <p>NIP. 119670412 200312 1 008	</p>
            </div>
        </div>
    </div>








</body>
</html>
