{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .info p {
            margin: 5px 0;
        }

        .info span {
            display: inline-block;
            width: 120px;
        }

        .info span::after {
            content: ": ";
        }

        .signature {
            text-align: right;
        }

        .bold-underline {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 align="center" style="font-size: medium;">SURAT PERNYATAAN <br>
    TIDAK MENGGUNAKAN KENDARAAN DINAS <br>
    DAN FASILITAS PEMERINTAH</h1>

    <div class="info">
        <p>Nama : Nason Pigai, S.IP</p>
        <p>NIP : 19700914 199303 1 007</p>
        <p>Jabatan : Asisten I</p>
    </div>

    <p>Menyatakan dengan sesungguhnya bahwa saya:</p>
    <p>Dalam melaksanakan perjalanan dinas pada tanggal : 11/01/2023 s/d 13/01/2023 sesuai dengan 
        Surat Tugas nomor: /SPT/II/SET/2023 tanggal 11-01-2023 perihal : Memenuhi Undangan Ikut 
        Perayaan Hari Ulang Tahun (HUT) Gereja Kemah Injil Indonesia (GKII) Wilayah III Gopouya Daerah 
        Mapia II di Distrik Mapia</p>

    <p>Apabila dikemudian hari pernyataan ini tidak benar yang mengakibatkan kerugian negara maka
        saya bertanggung jawab sepenuhnya dan bersedia menyetorkan 
        atas kesalahan dan/atau kelebihan pembayaran tersebut ke rekening Kas Negara</p>

    <p>
        Demikian surat pernyataan ini saya buat untuk melengkapi pertanggungjawaban penugasan <br>
        dimaksud
    </p>

    <div class="signature">
        <p>Kigamani, 13 Maret 2023</p>
        <p>Yang membuat Pernyataan</p>
        <p><span class="bold-underline">Nason Pigai, S.IP</span></p>
    </div>
</div>

</body>
</html>
