{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <style>
        body {
          font-family: Arial, sans-serif;
         
        }
        #header {
          text-align: center;
        }
        #logo-container {
          display: flex;
          align-items: center;
          justify-content: center;
          /* margin-bottom: 20px;  */
        }
        #logo {
          max-width: 90px;
          max-height: 90px;
          margin-right: 20px; /* Spasi antara logo dan teks */
        }
        #text-container {
          text-align: center;
          margin-bottom: 20px; /* Atur margin bottom pada teks */
        }
        #text-container h3,
        #text-container h1,
        #text-container p {
          margin: 5px 0; /* Merapatkan elemen-elemen ini */
        }
        #address {
          text-align: center;
        }
        #divider {
          width: 100%;
          border-top: 1px solid #000; /* Garis lurus di bawah comment */
          margin-top: 20px; /* Spasi antara garis dan elemen selanjutnya */
          margin-bottom: 20px; /* Spasi bawah garis */
        }
        table {
          border-collapse: collapse;
          width: 100%;
        }

        .table-index th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
        }
    
        .table-index th {
          background-color: #f2f2f2;
        }
    
        .table-index th:first-child,
        .table-index th:nth-child(2),
        .table-index th[colspan="2"],
        .table-index th:nth-last-child(2),
        .table-index th:last-child,
        .table-index th:nth-child(5),
        .table-index th:nth-child(6) {
          text-align: center; /* Agar teks pada kolom pertama, kedua, yang di-colspan, dan yang di-posisi terakhir menjadi tengah */
        }
    
        .sign-box {
          width: 49%;
          padding: 10px;
          margin-top: 20px;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          box-sizing: border-box;
          text-align: left; 
        }
    
        .row {
          width: 100%;
        }
        .nonLine tr,
        .nonLine td {
            border: none; /* Remove the border property */
            padding: 8px;
            text-align: left;
        }
        
      </style>
</head>
<body onload="window.print();">
    <div id="header">
        <div id="logo-container">
          <img id="logo" src="{% static 'media/logos/logo.svg' %}" alt="Logo">
          <div id="text-container">
            <h3 >PEMERINTAH KABUPATEN DOGIYAI</h3>
            <h1>Pj. Sekretaris Daerah</h1>
            <p>Jl. Trans Nabire-Ilaga KM 200, Kigamani-Papua</p>
          </div>
        </div>
      </div>
    
      <div id="divider"></div>
      <!-- Isi surat dapat ditambahkan di sini -->
      
      <h1 align="center"><u>PERHITUNGAN RAMPUNG BIAYA PERJALANAN DINAS</u></h1>
      
      <p>Yang bertanda tangan di bawah ini:</p>
    {% for x in pengesah %}
      <table class="nonLine">
        <tr>
            <td></td>
            <td>Nama</td>
            <td> : {{ x.pegawai.nama|title }}</td>
        </tr>
        <tr>
            <td></td>
            <td>NIP</td>
            <td> : {{ x.pegawai.nip }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Jabatan</td>
            <td> : {{ x.jabatan.jabatan }}</td>
        </tr>
      </table>
    {% endfor%}
      <p>Berdasarkan Surat Permintaan Pembayaran (SPP) Nomor   :</p>
      <p>dengan ini kami pertanggungjawabkan realisasi biaya perjalanan dinas sebagai berikut:</p>
      <br>
      <table class="table-index">
        <thead>
          <tr>
            <th rowspan="2">No.</th>
            <th rowspan="2">Nama</th>
            <th colspan="2">SPPD</th>
            <th><center>Pengajuan</center></th>
            <th>Realisasi</th>
            <th>Selisih</th>
          </tr>
          <tr>
            <th>Nomor</th>
            <th>Tanggal</th>
            
            <th>Rp</th>
            <th>Rp</th>
            <th>Rp</th>
          </tr>
        </thead>
        <tbody>
          {% for data in data_sshdalam %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ data.nama|title}}</td>
            <td>{{ data.no_sppd}}</td>
            <td>{{ data.tanggal }}</td>
            <td>{{ data.total_pengajuan }}</td>
            <td>{{ data.total_realisasi }}</td>
            <td>{{ data.total_sisa }}</td>
          </tr>
          {% endfor %}
          <!-- Tambahkan baris data lainnya sesuai kebutuhan -->
        </tbody>
        <tfoot>
          
            <tr>
              <th colspan="4">Jumlah</th>
              <th>{{total_pengajuan}}</th>
              <th>{{total_realisasi}}</th>
              <th>{{total_sisa}}</th>
            </tr>
          </tfoot>
      </table>
      <div class="row" style="padding-left: 10px;">
        <div class="sign-box">
          <!-- <p>Mengetahui</p>
          <p>Kuasa Pengguna Anggaran</p>
    
          <p style="padding-top: 100px;">DAMIANA TEKEGE, SH., M.Hum</p>
          <p>NIP. 19710221 199803 2 003</p> -->
        </div>
        {% for y in pengesah %}
        <div class="sign-box">
            <p>Kigamani, {{tanggal}}</p>
            <p>Pejabat Penatausahaan Keuangan/PPK</p>
            <p>Pj. Sekretaris Daerah</p>
            <p style="padding-top: 18px;"></p>
            
            
            <p style="padding-top: 100px;"><u>{{ y.pegawai.nama|title }}</u></p>
            <p>NIP. {{ y.pegawai.nip }}</p>
        </div>
        {% endfor %}
      </div>
      <!-- end SPPD Rampung -->
    
</body>

</html>
