{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .info p {
            margin: 5px 0;
        }

        .info span {
            display: inline-block;
            width: 120px;
        }

        .info span::after {
            content: ": ";
        }

        .signature {
            text-align: right;
        }

        .bold-underline {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body onload="window.print();">

<div class="container">
    <h1 align="center"><u>SURAT PERNYATAAN TANGGUNG JAWAB MUTLAK</u></h1>
        <div class="info">
        {% for data in dt_pengesah %}
            <p><span>Nama</span>  : {{ data.nama|title }}</p>
            <p><span>NIP</span> : {{ data.nip }}</p>
            <p><span>Jabatan</span> : {{ data.jabatan.jabatan }}</p>
        {% endfor %}
        </div>
    
    {% for dt_spt in spt %}
    <p>Menyatakan dengan sesungguhnya bahwa saya:</p>
    <p>Telah melaksanakan perjalanan dinas pada tanggal : {{dt_spt.tgl_berangkat|date:"d/m/Y"}} s/d {{dt_spt.tgl_kembali|date:"d/m/Y"}} sesuai dengan <br>
       Surat Tugas nomor: {{dt_spt.no_spt}} tanggal {{dt_spt.tgl_berangkat|date:"d/m/Y"}} perihal : {{dt_spt.uraian}}</p>

    <p>Pernyataan saya ini telah didukung dengan menyerahkan bukti-bukti:</p>
    <ol>
        <li>Bukti-bukti Surat Tugas</li>
        <li>Visum Surat Perjalanan Dinas (SPPD)</li>
        <li>Surat Pernyataan Tidak Menggunakan Kendaraan Dinas</li>
    </ol>

    <p>Apabila dikemudian hari terdapat kesalahan dan/atau kelebihan atas pembayaran biaya perjalanan 
    dinas sebagian atau seluruhnya, saya bertanggung jawab sepenuhnya dan bersedia menyetorkan 
    atas kesalahan dan/atau kelebihan pembayaran tersebut ke rekening Kas Negara</p>

    <p>
        Demikian surat pernyataan ini saya buat untuk melengkapi pertanggungjawaban penugasan dimaksud
    </p>
    {% endfor %}

    <div class="signature">
        <p>Kigamani, {{tanggal}}</p>
        <p style="margin-bottom: 100px;">Yang membuat Pernyataan</p>
        <p><span class="bold-underline">{{nama|title}}</span></p>
    </div>
</div>

</body>
</html>
