{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>dashboard</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Metronic | Bootstrap HTML, VueJS, React, Angular, Asp.Net Core, Blazor, Django, Flask & Laravel Admin Dashboard Theme" />
	<meta property="og:url" content="https://keenthemes.com/metronic" />
	<meta property="og:site_name" content="Keenthemes | Metronic" />
	<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
	<link rel="shortcut icon" href="{% static 'media/logos/logo.svg' %}" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Vendor Stylesheets(used by this page)-->
	<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
	<!--end::Vendor Stylesheets-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
</head>

<!--begin::Body-->
<body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
  <!--begin::Theme mode setup on page load-->
  <script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if ( localStorage.getItem("data-theme") !== null ) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode)};</script>
  <!--end::Theme mode setup on page load-->
  <!--begin::App-->

  <div class="d-flex flex-column flex-root" id="kt_app_root" style="background-image: url('/static/media/patterns/pattern_login.svg'); background-size: cover;">
    <!--begin::Authentication - Sign-in -->
    <div class=" container-fluid d-flex justify-content-between align-items-center" style="margin-top: 100px;">
        <div class="container card-kontainer" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); max-width: 900px; background: linear-gradient(179deg, #80BCE7 0%, rgba(5.11, 68.69, 232.18, 0) 100%); border-radius: 30px;">
          <div class="backgroun-login">
            <div class="row">
              <div class="col-md-6 kiri p-10 bg-light" style="border-radius: 30px;" >
                <form class="form w-100 " novalidate="novalidate" id="kt_docs_repeater_form" method="POST">
                  {% csrf_token %}
                  <!--begin::Heading-->
                  <div class="text-center mb-11">
                    <!--begin::Title-->
                    <h1 class="text-dark fw-bolder mb-3">Sign In</h1>
                    <!--end::Title-->
                    <!--begin::Subtitle-->
                    <div class="text-gray-500 fw-semibold fs-6">Pemerintahan Dogiyai</div>
                    <!--end::Subtitle=-->
                  </div>
                  {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                          {{message}}
                       </div>
                      {% endfor %}
                  {% endif %}
                  <!--begin::Heading-->
                  <!--begin::Input group=-->
                  <div class="fv-row mb-8">
                    <!--begin::Email-->
                    <input type="text" placeholder="Email" name="email" class="form-control bg-transparent"required />
                    <!--end::Email-->
                  </div>
                  <!--end::Input group=-->
                  <div class="fv-row mb-8">
                    <!--begin::Password-->
                    <input type="password" placeholder="Password" name="password" autocomplete="off" class="form-control bg-transparent" required />
                    <!--end::Password-->
                  </div>
                  <!--end::Input group=-->
                  <!--begin::Submit button-->
                  <div class="d-grid mb-10">
                    <button type="submit" id="kt_docs_repeater_button" class="btn btn-primary align-items-end">
                      <!--begin::Indicator label-->
                      <span class="indicator-label">Sign In</span>
                      <!--end::Indicator label-->
                      <!--begin::Indicator progress-->
                      <span class="indicator-progress">Please wait...
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                      <!--end::Indicator progress-->
                    </button>
                  </div>
                  <!--end::Submit button-->
                </form>
              </div>
              <div class="col-md-6 kanan d-flex justify-content-center align-items-center bg-transparent" >
                <div class="d-flex justify-content-center w-lg-50 w-40 bgi-size-cover bgi-position-center order-1 order-lg-2">
                  <!--begin::Content-->
                  <div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-80">
                    <!--begin::Logo-->
                    <a href="../../demo1/dist/index.html" class="mb-0 mb-lg-12">
                      <img alt="Logo" src="{% static 'media/logos/logo.svg' %}" class="h-60px h-lg-200px" />
                    </a>
                    <div style=" font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">SIMPAPEDA</div>
                    <p style="text-align: center; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sistem Informasi Perjalanan Dinas Dalam Daerah</p>
                    <!--end::Logo-->
                  </div>
                  <!--end::Content-->
                </div>
              </div>
          </div>
          </div>
      </div>
      </div>
    <!--end::Authentication - Sign-in-->
  </div>

</body>
<!--end::Body-->

  <!--begin::Javascript-->

  <script>var hostUrl = "asset/";</script>
  <!--begin::Global Javascript Bundle(used by all pages)-->
  <script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
  <script src="{% static 'js/scripts.bundle.js' %}"></script>
  <!--end::Global Javascript Bundle-->
  <!--begin::Vendors Javascript(used by this page)-->
  <script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
  <script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
  <!--end::Vendors Javascript-->

  <!--begin::Custom Javascript(used by this page)-->
  <script src="{% static 'js/widgets.bundle.js' %}"></script>
  <script src="{% static 'js/custom/widgets.js' %}"></script>
  <script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
  <script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
  <script src="{% static 'js/custom/utilities/modals/create-app.js' %}"></script>
  <script src="{% static 'js/custom/utilities/modals/new-target.js' %}"></script>
  <script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>
  <script src="{% static 'js/js_table/table.js' %}"></script>
  <script src="{% static 'js/utilitis/alert.js' %}"></script>

  <!--end::Custom Javascript-->
  <!--end::Javascript-->

</html>