.btn-on{
    padding: 10px;
    border-radius: 10;
    background-color: #0fc927;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
}

.btn-on:hover{
    background-color: #16e031;
    color: #ffffff;
}
.btn-off{
    padding: 10px;
    border-radius: 10;
    background-color: #c01616;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
}

.btn-off:hover{
    background-color: #d41e1e;
    color: #ffffff;
}


