<div class="modal fade" id="modal-default{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #359aff;">
        <h1 class="modal-title fs-5" style="color: white;"></i> Edit Data SSH Luar Daerah </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body" id="sshedit">
            <form action="edit/{{data.id}}" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-5 rounded">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Jenis</span>
                    <div class="form-check mx-2 mt-2">
                        <input class="form-check-input " value="Dalam Provinsi" type="radio" name="jnsEdit" id="jnsEdit" {% if data.jenis == "Dalam Provinsi" %}checked{% endif %} required>
                        <label class="form-check-label" for="jnsEdit">
                          Dalam Provinsi
                        </label>
                      </div>
                    <div class="form-check mx-2 mt-2">
                        <input class="form-check-input" value="Luar Provinsi" type="radio" name="jnsEdit" id="jnsEdit" {% if data.jenis == "Luar Provinsi" %}checked{% endif %} required>
                        <label class="form-check-label" for="jnsEdit">
                          Luar Provinsi
                        </label>
                      </div>
                  </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm" > Type </span>
                    <div class="form-control form-control-sm">
                        <select name="tpEdit" class="" data-control="select2" data-dropdown-parent="#modal-default{{data.id}}" data-placeholder="Pilih Tipe" data-allow-clear="true" required>
                            <option value="">-Pilih Type-</option>
                            <option value="Uang Harian/Lumpsum">Uang Harian/Lumpsum</option>
                            <option value="Hotel/Penginapan">Hotel/Penginapan</option>
                            <option value="Tiket">Tiket</option>
                            <option value="Transport">Transport</option>
                            <option value="Uang Representatif">Uang Representatif</option>
                        </select>
                    </div>
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Type Transportasi </span>
                    <div class="form-check mx-2 mt-2">
                      <input class="form-check-input " value="Udara" type="radio" name="tpTrans" id="tpTrans" {% if data.type_transportasi %}checked{% endif %} required >
                      <label class="form-check-label" for="tpTrans">
                        Udara
                      </label>
                    </div>
                    <div class="form-check mx-2 mt-2">
                      <input class="form-check-input" value="Laut" type="radio" name="tpTrans" id="tpTrans" {% if data.type_transportasi %}checked{% endif %} required >
                      <label class="form-check-label" for="tpTrans">
                        Laut
                      </label>
                    </div>
                    <div class="form-check mx-2 mt-2">
                      <input class="form-check-input" value="Darat" type="radio" name="tpTrans" id="tpTrans" {% if data.type_transportasi %}checked{% endif %} required >
                      <label class="form-check-label" for="tpTrans">
                        Darat
                      </label>
                    </div>
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Satuan </span>
                    <div class="form-control form-control-sm">
                      <select name="stnEdit" class="" data-control="select2" data-dropdown-parent="#modal-default{{data.id}}" data-placeholder="Pilih Satuan" data-allow-clear="true" required>
                          <option value="">-Pilih Satuan-</option>
                          <option value="Orang/Hari">Orang/Hari</option>
                          <option value="Orang/Perjalanan">Orang/Perjalanan</option>
                          <option value="PP">PP</option>
                          <option value="Transport">Transport</option>
                          <option value="Kali">Kali</option>
                      </select>
                  </div>
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Uraian </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="urnEdit" id="urnEdit" value="{{data.uraian}}" required/>
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Harga </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="hrgEdit" id="hrgEdit" value="{{data.harga}}" required/>
                </div>
            
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Keterangan </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="ketEdit" id="ketEdit "value="{{data.keterangan}}" required/>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </form>
        </div>
        
    </div>
    </div>
</div>
