{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body {
          font-family: 'Times New Roman', Times, serif;
         
        }
        h1{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri Body, 'Trebuchet MS', sans-serif;
            font-size: 18px;
        }
        h2{
            font-family: Agency FB;
            font-size: 23;
            margin-top: auto;
        }
        h3{
            font-family: Calibri(body) ;
            font-size: 11px;

        }
        .header {
          text-align: center;
        }
        #address {
          text-align: center;
        }
        
        img{
            width: 100px;
            margin-top: auto;
        }
        .spt{
            text-align: center;
            padding-top: 10px;
        }
        .nosurat{
            margin-top: 0px;
        }
        h4{
            padding-top: 10px; /*  mengatur jarak ke atas  */
            text-align: center;
            font-family: 'Times New Roman', Times, serif; 
            font-size: 16px;
            
        }
        .list-container {
            margin: 0;
            padding: 0;
        }

        .list-item {
            margin-left: 20px; /* Adjust the indentation as needed */
        }

        .sign-box {
          width: 48%;
          padding: 10px;
          /* margin-top: 20px; */
          display: inline-block;
          vertical-align: top;
          text-align: center;
          /* border: 1px solid black; */
          box-sizing: border-box;
          text-align: left;
        }
    
        .row {
          width: 100%;
        }
        .nonLine{
          border-collapse: collapse;
          width: 100%;
          border: none; 
        }
        table {
          border-collapse: collapse;
          width: 100%;
        }
    
        th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
        }
    
        th {
          background-color: #f2f2f2;
        }
    
        th:first-child,
        th:nth-child(2),
        th[colspan="2"],
        th:nth-last-child(2),
        th:last-child,
        th:nth-child(5),
        th:nth-child(6) {
          text-align: center; /* Agar teks pada kolom pertama, kedua, yang di-colspan, dan yang di-posisi terakhir menjadi tengah */
        }
        .fonttext-fira{
            font-family: 'Times New Roman', Times, serif;
            font-size: 12px;
        }

    </style>

</head>
<body onload="window.print();">

    <div class="header">
        <div id="logo-container">
          <img id="logo" src="{% static 'media/logos/logo.svg' %}" alt="Logo">
          <div id="text-container">
            <h1 >PEMERINTAH KABUPATEN DOGIYAI</h1>
            <h2>BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH</h2>
            <h3>Jl. Trans Nabire-Ilaga KM 200, Kigamani-Papua</h3>
          </div>
        </div>
    
    {% for data in spt %}
      <div id="divider"></div>
      <!-- Isi surat dapat ditambahkan di sini -->
        <hr>
        {% for no in data.sppd_set.all %}
        <p align="right">{{no.no_sppd}}<br> Lembar ke	:	I, II, III, IV, V</p>
        {% endfor %}
        <h4><u>SURAT PERINTAH PERJALANAN DINAS</u></h4>
        <h5>(SPPD)</h5>
     </div>

     <table class="fonttext-fira">
        
        <tr>
            <td>1.</td>
            <td>Pejabat yang memberi perintah</td>
            <td>:</td>
            <td>Pj. Bupati Dogiyai</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Nama Pegawai yang diperintah</td>
            <td>:</td>
            {% for detail in data.detailspt_set.all %}
            {% if forloop.first %}
             <td>{{ detail.pegawai.nama|title }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>3.</td>
            <td>Jabatan, Pangkat dan Golongan dari pegawai yang diperintahkan</td>
            <td>:</td>
            {% for detail in data.detailspt_set.all %}
            {% if forloop.first %}
             <td>{{ detail.pegawai.jabatan.jabatan }}</td>
            {% endif %}
            {% endfor %}

        </tr>
        <tr>
            <td>4.</td>
            <td>Perjalanan dinas yang diperintahkan (PP)</td>
            <td>:</td>
            <td>Dari	: {{data.kota_awal}} <br>
                Ke	    : {{data.kota_tujuan}}
           
            </td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Perjalanan dinas direncanakan</td>
            <td>:</td>
            <td>Selama {{data.durasi}} hari <br>
                Tanggal berangkat	: {{data.tgl_berangkat}} <br>
                Tanggal kembali	    : {{data.tgl_kembali}}
            </td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Transportasi yang digunakan</td>
            <td>:</td>
            {% if status_perjalanan == 'Luar Provinsi' or status_perjalanan == 'Dalam Provinsi' %}
            <td>Angkutan Udara</td>
            {% else %}
            <td>Angkutan Darat</td>
            {% endif %}
        </tr>
        <tr>
            <td>7.</td>
            <td>Maksud mengadakan perjalanan</td>
            <td>:</td>
            <td>{{data.uraian}}</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>Perhitungan biaya perjalanan</td>
            <td>:</td>
            <td>Atas beban biaya : BPKAD Kab. Dogiyai</td> 
        </tr>
        <tr>
            <td valign="top" style="width: 97px;" >Pengikut</td>
            <td valign="top"></td>
            <td>:</td>
            <td>
                <ol>
                    {% for detail in data.detailspt_set.all %}
                    {% if not forloop.first %}
                        <li>{{detail.pegawai.nama|title}}</li>
                    {% endif %}
                    {% endfor %}
                </ol>
            </td>
        </tr>

        <tr>
            <td rowspan="3" valign="top" style="width: 97px;" >Keterangan</td>
            <td rowspan="3" valign="top">:</td>
            <td></td>
            <td>1. Membawa perlengkapan seperlunya</td>
        </tr>
        <tr>
            <td></td>
            <td>2. Tiba di tempat tujuan segera melapor pada <br>
                 pemerintah setempat</td>
        </tr>
        <tr>
            <td></td>
            <td>3. Mohon bantuan yang berwajib seperlunya</td>
        </tr>
    </table>
 {% endfor %}
        {% for ttd in pengesah %}
        <div class="row" style="padding-left: 10px;">
            <div class="sign-box"></div>
            <div class="sign-box">
                <p>Dikeluarkan di	: Kigamani <br> <u>Pada tanggal	: {{tanggal}}</u></p>
                <p>Pj.	BUPATI DOGIYAI</p>
            
                <p style="padding-top: 100px;"><strong>{{ttd.pegawai.nama|title}}</strong></p>
                
            </div>
        </div>
        {% endfor %}
    
       


</body>
</html>