<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body {
          font-family: 'Times New Roman', Times, serif;
         
        }
        h1{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri Body, 'Trebuchet MS', sans-serif;
            font-size: 18px;
        }
        h2{
            font-family: Agency FB;
            font-size: 23;
            margin-top: auto;
        }
        h3{
            font-family: Calibri(body) ;
            font-size: 11px;

        }
        .header {
          text-align: center;
        }
        #address {
          text-align: center;
        }
        
        img{
            width: 100px;
        }
        .spt{
            text-align: center;
            padding-top: 10px;
        }
        .nosurat{
            margin-top: 0px;
        }
        h4{
            padding-top: 10px; /*  mengatur jarak ke atas  */
            text-align: center;
            font-family: 'Times New Roman', Times, serif; 
            font-size: 16px;
            
        }
        .list-container {
            margin: 0;
            padding: 0;
        }

        .list-item {
            margin-left: 20px; /* Adjust the indentation as needed */
        }

        .sign-box {
          width: 48%;
          padding: 10px;
          /* margin-top: 20px; */
          display: inline-block;
          vertical-align: top;
          text-align: center;
          /* border: 1px solid black; */
          box-sizing: border-box;
          text-align: left;
        }
    
        .row {
          width: 100%;
        }
        .nonLine{
          border-collapse: collapse;
          width: 100%;
          border: none; 
        }
    </style>

</head>
<body>

    <div class="header">
        <div id="logo-container">
          <img id="logo" src="{% static 'media/logos/logo.svg' %}" alt="Logo">
          <div id="text-container">
            <h1 >PEMERINTAH KABUPATEN DOGIYAI</h1>
            <h2>BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH</h2>
            <h3>Jl. Trans Nabire-Ilaga KM 200, Kigamani-Papua</h3>
          </div>
        </div>
    
    
      <div id="divider"></div>
      <!-- Isi surat dapat ditambahkan di sini -->
        <hr>
        <div class="spt"> 
            <h4><u>SURAT PERINTAH TUGAS</u></h4>
            <p class="nosurat">No : 094/             /SPT/SET/2023</p>
        </div>
    </div>

    <table>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td>Drs. PETRUS AGAPA, M.Si</td>
        </tr>
        <tr>
            <td>Jabatan</td>
            <td>:</td>
            <td>Pj. Bupati Dogiyai</td>
        </tr>
    </table>
        <h4>M E N U G A S K A N</h4>

    <table border="0">
        <tr>
            <td width="100">Kepada</td>
            <td>:</td>
            <td>Nama</td>
            <td>:</td>
            <td>STEPANYA AGAPA, SE</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>NIP</td>
            <td>:</td>
            <td>198007122010041001</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Pangkat/Gol</td>
            <td>:</td>
            <td>Pembina (IV/a)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Jabatan</td>
            <td>:</td>
            <td>Plt. Kepala BPKAD</td>
        </tr>
        
    </table>
    <table style="padding-top: 10px;">
        <tr>
            <td width="100" style="vertical-align: top;">Pengikut</td>
            <td style="vertical-align: top;">:</td>
            <td>
                <ol class="list-container">
                    <li class="list-item">WAHYU AGUNG PRASETYA, SE</li>
                    <li class="list-item">NORPEN PIGAI, SE</li>
                    <li class="list-item">MUHAMMAD SYAIQ, S.Kom</li>
                    <li class="list-item">JAINO VIVION DOUW, S.STP</li>
                </ol>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr style="padding-top: 20px;">
            <td width="100"  style="vertical-align: top;">Supaya</td>
            <td style="vertical-align: top;">:</td>
            <td>
                <ol class="list-container">
                    <li class="list-item">Seterimanya Surat Perintah Tugas ini segera berangkat ke :  Nabire (PP)</li>
                    <li class="list-item">Keperluan	:	mengikuti Evaluasi Ranperda dan Ranperbup Pertanggungjawaban APBD TA 2022 pada BPKAD Provinsi Papua Tengah di Nabire</li>
                    <li class="list-item">Berangkat pada kesempatan pertama dengan	:	Transportasi Darat <br>
                                            Atas beban biaya	:	BPKAD Kab. Dogiyai <br>
                                            Lamanya perjalanan dinas	:	3 (tiga) hari
                    </li>
                    <li class="list-item">Diindahkan dan dilaksanakan dengan penuh rasa tanggung jawab</li>
                </ol>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <p>
        
        Demikian Surat Perintah Tugas ini dibuat untuk dapat dipergunakan dan dilaksanakan dengan penuh rasa tanggungjawab.

    </p>
        <div class="row" style="padding-left: 10px;">
            <div class="sign-box"></div>
            <div class="sign-box">
                <p>Dikeluarkan di	: Kigamani <br> <u>Pada tanggal	: 14 September 2023</u></p>
                <p>Pj.	BUPATI DOGIYAI</p>
            
                <p style="padding-top: 100px;"><strong>Drs. PETRUS AGAPA, M.Si</strong></p>
                
            </div>
        </div>
    
        
       
    


</body>
</html>