{% extends 'layouts/base_layout.html' %}

{% load static %}

{% block css %}
    
{% endblock css %}


{% block content %}
<div class="tab-content container-fluid">
    <div class="title mb-5">
        <h1> Halaman Master Pegawai </h1>
    </div>

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tambah">
        Tambah
    </button> -->
    <!-- <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tambah">
        <i class="fa fa-plus"></i>Tambah
    </button> -->

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tambah">
                    <i class="fa fa-plus"></i>Tambah
                </button>
            </div>
            <div class="col-md-3">
                <div class="table data-table d-flex">
                    <form action="#">
                        <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" id="search">
                    </form>
                    <button class="btn btn-sm btn-success mx-2" type="button">Search</button>
                </div>
            </div>
        </div> 
    </div>


    {% include 'master/master_pegawai/form_modal.html' %}

  <!--begin::Tab panel-->
  <div
    id="kt_billing_months"
    class="card-body p-0 tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="kt_billing_months"
  >
    <!--begin::Table container-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table id="datatabel" class="table table-row-bordered gy-5">
        <thead>
            <tr class="fw-semibold fs-6 text-muted">
                <th> No </th>
                <th> NIP </th>
                <th> Nama </th>
                <th> Jabatan </th>
                <th> Golongan </th>
                <th> Eselon </th>
                <th> Pangkat </th>
                <th> Nomor Hp </th>
                <th> Email </th>
                <th> Alamat </th>
                <th> Aksi </th>
            </tr>
        </thead>
        <tbody>
            {% for data in pegawai %}
             <!-- Modal -->
             {% include 'master/master_pegawai/modal_edit.html' %}
            <!--begin::Table row-->
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{data.nip}}</td>
              <td>{{data.nama|title}}</td>
              <td>{{data.jabatan.jabatan}}</td>
              <td>{{data.golongan}}</td>
              <td>{{data.eselon}}</td>
              <td>{{data.pangkat}}</td>
              <td>{{data.no_hp}}</td>
              <td>{{data.email}}</td>
              <td>{{data.alamat}}</td>
             <!--  {% if data.status == 1 %}
                <td><a href="#" onclick="Off('{{ data.id }}')" class="btn-on rounded">Aktif</a></td>
              {% elif data.status == 0 %} 
                <td><a href="on/{{data.id}}" class="btn-off rounded">Tidak Aktif</a></td>
              {% else %}
                <td>Tidak ada status</td>
              {% endif %} -->
              <td>
                <div class="d-flex justify-content-start flex-shrink-0">
                    <a href="#" class="btn btn-icon btn-bg-warning btn-active-color-primary btn btn-warning btn-sm me-1"data-bs-toggle="modal" data-bs-target="#modal-default{{data.id}}">
                        <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-bg-danger btn-active-color-primary btn btn-danger btn-sm" name="idedit" onclick="delete_('delete', `{{ data.nama }}`, '{{ data.id }}')"> 
                        <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                    </a>
                </div>
              </td>
            </tr>
            <!--end::Table row-->
            {% endfor %}
             
        </tbody>
    </table>
      <!--end::Table-->
    </div>
    <!--end::Table container-->
  </div>
  <!--end::Tab panel-->
</div>
{% endblock content %}



{% block scripts %}
    <!-- <script src="{% static 'admin/js/datatables/datatables.min.js' %}"></script> -->
    <!-- <script src="{% static 'admin/js/admin/admin-aksi.js' %}"></script> -->
    <script>
        $(document).ready( function () {
            $('#datatabel').DataTable({
                "searching": true,  // Aktifkan pencarian
                "searchDelay": 500,  // Atur penundaan pencarian (dalam milidetik)
            });
            var table = $('#datatabel').DataTable();
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            } );
        });
        // function restore_(nama, id){
        //         Swal.fire({
        //             title: `Apakah anda yakin ingin memulihkan file ${nama}?`,
        //             showCancelButton: true,
        //             confirmButtonText: 'Pulihkan',
        //             cancelButtonText: 'Batal',
        //             }).then((result) => {
        //             if (result.isConfirmed) {
        //                 $.ajax({
        //                     url: `/manage_panel/kata_mereka/restore/${id}`,
        //                     data: {},
        //                     dataType: "html",
        //                     timeout: 10000,
        //                     beforeSend: function() {
        //                         Swal.fire({
        //                             title: 'Memproses.........',
        //                             allowEscapeKey: false,
        //                             allowOutsideClick: false,
        //                             showCancelButton: false,
        //                             showConfirmButton: false,
        //                             onOpen: () => {
        //                                 swal.showLoading();
        //                             }
        //                         });
        //                     },
        //                     success: function(response){
        //                         Swal.fire(`Kata Mereka berhasil dipulihkan!`, '', 'success');
        //                         setTimeout(function(){
        //                             window.location.href = "/manage_panel/kata_mereka/";
        //                         }, 2000); 
        //                     },
        //                     error: function (xhr, ajaxOptions, thrownError) {
        //                         Swal.fire(`Kata Mereka gagal dipulihkan!`, '', 'error');
        //                     }
        //                 });
                        
        //             }
        //         });
        //     }
            function delete_(action, nama, id  ){
                let pesan = action == 'soft_delete' ? "arsipkan" : "hapus";
                let confirmation = action == 'soft_delete' ? "Arsipkan" : "Hapus";
                // let url = $(this).attr('href');
                Swal.fire({
                    title: `Apakah kamu yakin ingin meng${pesan} file ${nama}?`,
                    showCancelButton: true,
                    confirmButtonText: confirmation,
                    cancelButtonText: 'Batal',
                    confirmButtonColor: '#d33',
                    }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `hapus/${id}`,
                            data: {},
                            dataType: "html",
                            timeout: 10000,
                            beforeSend: function() {
                                Swal.fire({
                                    title: 'Memproses.........',
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                });
                                Swal.showLoading();
                            },
                            success: function(response){
                                Swal.fire(`${nama} berhasil di${pesan}!`, '', 'success');
                                setTimeout(function(){
                                    window.location.href = "";
                                }, 2000); 
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                Swal.fire(`Kata Mereka gagal di${pesan}!`, '', 'error');
                            }
                        });
                        
                    }
                });

            }

            
            /* function Off(id){
                Swal.fire({
                    title: `Apakah kamu yakin ingin Non aktifkan tahun?`,
                    showCancelButton: true,
                    confirmButtonText: 'Ya',
                    cancelButtonText: 'Batal',
                    }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `/master_tahun/off/${id}`,
                            data: {},
                            dataType: "html",
                            timeout: 10000,
                            beforeSend: function() {
                                Swal.fire({
                                    title: 'Memproses.........',
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                });
                                Swal.showLoading();
                            },
                            success: function(response){
                                Swal.fire(`Kata Mereka berhasil diNonaktifkan!`, '', 'success');
                                setTimeout(function(){
                                    window.location.href = "";
                                }, 2000); 
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                Swal.fire(`Kata Mereka gagal diNonaktifkan!`, '', 'error');
                            }
                        });
                        
                    }
                });

                
            } */
            
    </script>
{% endblock scripts %}