<div class="modal fade modal-xl" id="tambah" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
          <h1 class="modal-title fs-5" style="color: white;"><i class="fa fa-pencil" style="color: beige;"></i> Tambah Kegiatan </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="tambah/" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Kode Bidang </span>
                            <input type="text" required class="form-control" name="kd_bidang" id="kd_bidang" required/>
                          </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-sm mb-5">
                            <input type="text" required placeholder="Urai Bidang Urusan" class="form-control" name="urai_bidang" id="urai_bidang"  required />
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Kode Program </span>
                            <input type="text" required class="form-control" name="kd_program" id="kd_program" required/>
                          </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-sm mb-5">
                            <input type="text" required class="form-control" placeholder="Urai Program" name="urai_program" id="urai_program" required/>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Kode Kegiatan </span>
                            <input type="text" required class="form-control" name="kd_kegiatan" id="kd_kegiatan" required/>
                          </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-sm mb-5">
                            <input type="text" required placeholder="Urai Kegiatan" class="form-control" name="urai_kegiatan" id="urai_kegiatan" required/>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Kode Sub Kegiatan </span>
                            <input type="text" required class="form-control" name="kd_subkegiatan" id="kd_subkegiatan" required/>
                          </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-sm mb-5">
                            <input type="text" required class="form-control" placeholder="Urai Subkegiatan" name="urai_subkegiatan" id="urai_subkegiatan" required/>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Pagu </span>
                            <input type="text" required placeholder="Rp."  class="form-control" name="pagu" id="pagu" required/>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Pagu Perubahan </span>
                            <input type="text" required placeholder="Rp." class="form-control" name="pagu_p" id="pagu_p" required />
                          </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <select name="sumber_dana" class="form-select form-select-solid" data-control="select2" data-dropdown-parent="#tambah" data-placeholder="Pilih Sumberdana" data-allow-clear="true" required>
                            <option value="">-Pilih Sumberdana-</option>
                            <option value="Dana Alokasi Umum (DAU)">Dana Alokasi Umum (DAU)</option>
                            <option value="Dana Alokasi Khusus (DAK)">Dana Alokasi Khusus (DAK)</option>
                            <option value="Dana Alokasi Khusus Fisik (DAK Fisik)">Dana Alokasi Khusus Fisik (DAK Fisik)</option>
                            <option value="Dana Alokasi Khusus Non Fisik (DAK Non Fisik)">Dana Alokasi Khusus Non Fisik (DAK Non Fisik)</option>
                            <option value="Dana Otonomi Khusus (OTSUS)">Dana Otonomi Khusus (OTSUS)</option>
                            <option value="Dana Bagi Hasil (DBH)">Dana Bagi Hasil (DBH)</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                  <p id="error-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>