{% extends 'layouts/base_layout.html' %}
{% load static %}
{% load humanize %}
{% block css %}
{% endblock css %}


{% block content %}
<div class="tab-content container-fluid">
    <div class="title mb-5">
        <h1>Master Data Kegiatan</h1>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-9">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tambah">
                    <i class="fa fa-plus"></i>Tambah
                </button>
            </div>
            <div class="col-md-3">
                <div class="table data-table d-flex">
                    <form action="#">
                        <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" id="search">
                    </form>
                    <button class="btn btn-sm btn-success mx-2" type="button">Search</button>
                </div>
            </div>
        </div> 
    </div>

   

  <div
    id="kt_billing_months"
    class="card-body p-0 tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="kt_billing_months"
  >
    
    <div class="table-responsive">
      <table id="datatabel" class="table table-row-bordered gy-5">
        <thead>
            <tr class="fw-semibold fs-6 text-muted">
                <th>No</th>
                <th>Bidang Urusan</th>
                <th>Program</th>
                <th>Kegiatan</th>
                <th>Sub Kegiatan</th>
                <th>Pagu</th>
                <th>Pagu P</th>
                <th>Sumberdana</th>
                <th>Aksi</th>  
    
            </tr>
        </thead>
        <tbody>
            {% for data in data_kegiatan %}
             <tr>
              <td>{{forloop.counter}}</td>
              <td>{{data.kd_bidang}} - {{data.urai_bidang}}</td>
              <td>{{data.kd_program}} - {{data.urai_program}}</td>
              <td>{{data.kd_kegiatan}} - {{data.urai_kegiatan}}</td>
              <td>{{data.kd_subkegiatan}} - {{data.urai_subkegiatan}}</td>
              <td>{{data.pagu|intcomma }}</td>
              <td>{{data.pagu_p|intcomma}}</td>
              <td>{{data.sumber_dana}}</td>
              <td>
                <div class="d-flex justify-content-start flex-shrink-0">
                    {% include 'master/master_kegiatan/modal_edit.html' %}
                    <a href="#" class="btn btn-icon btn-bg-warning btn-active-color-primary btn btn-warning btn-sm me-1"data-bs-toggle="modal" data-bs-target="#modal-default{{data.id}}">
                        <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-bg-danger btn-active-color-primary btn btn-danger btn-sm" onclick="delete_('delete', '{{ data.id }}')"> 
                        <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                    </a>
                </div>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
   
  </div>
</div>
{% include 'master/master_kegiatan/form_modal.html' %}
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#datatabel').DataTable({
                "searching": true,  // Aktifkan pencarian
                "searchDelay": 500,  // Atur penundaan pencarian (dalam milidetik)
            });
            var table = $('#datatabel').DataTable();
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            } );
        });

        
            function delete_(action, id){
                let pesan = action == 'soft_delete' ? "arsipkan" : "hapus";
                let confirmation = action == 'soft_delete' ? "Arsipkan" : "Hapus";
                // let url = $(this).attr('href');
                Swal.fire({
                    title: `Apakah kamu yakin ingin meng${pesan}?`,
                    showCancelButton: true,
                    confirmButtonText: confirmation,
                    cancelButtonText: 'Batal',
                    confirmButtonColor: '#d33',
                    }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `hapus/${id}`,
                            data: {},
                            dataType: "html",
                            timeout: 10000,
                            beforeSend: function() {
                                Swal.fire({
                                    title: 'Memproses.........',
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                });
                                Swal.showLoading();
                            },
                            success: function(response){
                                Swal.fire(`Kata Mereka berhasil di${pesan}!`, '', 'success');
                                setTimeout(function(){
                                    window.location.href = "";
                                }, 2000); 
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                Swal.fire(`Kata Mereka gagal di${pesan}!`, '', 'error');
                            }
                        });
                        
                    }
                });

            }

            
            function Off(id){
                Swal.fire({
                    title: `Apakah kamu yakin ingin Non aktifkan jabatan?`,
                    showCancelButton: true,
                    confirmButtonText: 'Ya',
                    cancelButtonText: 'Batal',
                    confirmButtonColor: '#d33',
                    }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `/master_kegiatan/off/${id}`,
                            data: {},
                            dataType: "html",
                            timeout: 10000,
                            beforeSend: function() {
                                Swal.fire({
                                    title: 'Memproses.........',
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                });
                                Swal.showLoading();
                            },
                            success: function(response){
                                Swal.fire(`Kata Mereka berhasil diNonaktifkan!`, '', 'success');
                                setTimeout(function(){
                                    window.location.href = "";
                                }, 2000); 
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                Swal.fire(`Kata Mereka gagal diNonaktifkan!`, '', 'error');
                            }
                        }); 
                        
                    }
                });

                
            }
            
    </script>
{% endblock scripts %}