{% extends "layouts/base_layout.html" %}
{% load static %}
{% block content %}
{% load humanize %}

{% for data in detailspt %}
<form action="simpan/" method="POST" enctype="multipart/form-data" onsubmit="return validation()">
    {% csrf_token %}
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card">
            <div class="card-body pt-9 pb-0">
                <!--begin::Details-->
                <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
                    <!--begin::Image-->
                    <div class="d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px w-lg-150px h-lg-150px me-7 mb-4">
                        <img class="mw-50px mw-lg-75px" src="{% static 'media/logos/logo.svg' %}" alt="image">
                    </div>
                    <!--end::Image-->
                    <!--begin::Wrapper-->
                    <div class="flex-grow-1">
                        <!--begin::Head-->
                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                            <!--begin::Details-->
                            <div class="d-flex flex-column">
                                <!--begin::Status-->
                                <div class="d-flex align-items-center mb-1">
                                    <div class="text-dark-800 fs-2 fw-bold me-3">Surat Perintah Perjalanan Dinas</div>
                                </div>
                                <!--end::Status-->
                                <!--begin::Description-->
                                <div class="d-flex flex-wrap fw-semibold fs-5 text-dark-400">
                                    <input type="hidden" class="form-control" value="{{ no_spj }}" name="no_spj">
                                    <u> No SPJ.{{ no_spj }} </u>
                                </div>
                                {% for sppd in data.sppd_set.all %}
                                <div class="d-flex flex-wrap mb-4 text-gray-400">
                                    <input type="hidden" class="form-control" value="{{ sppd.id }}" name="nosppd">
                                    No SPPD.{{ sppd.no_sppd }}
                                </div>
                                {% endfor %}
                                <!--end::Description-->
                            </div>
                            <!--end::Details-->
                        </div>
                        <!--end::Head-->
                        <!--begin::Info-->
                        <div class="d-flex flex-wrap justify-content-start">
                            <!--begin::Stats-->
                            <div class="d-flex flex-wrap">
                                <!--begin::Stat-->
                                <div class="border rounded border-primary border border-dashed min-w-125px py-3 px-4 me-6 mb-3">
                                    <!--begin::Number-->
                                    <div class="fw-semibold fs-6 text-primary text-center">Tanggal Dibuat</div>
                                    <div class="d-flex align-items-center">
                                        <div class="fs-4 fw-bold text-primary">
                                            <input type="hidden" class="form-control" value="{{ data.tgl_berangkat|date:'Y-m-d' }}" name="tanggalsppd">
                                            {{ data.tgl_berangkat|date:"d F y" }}
                                        </div>
                                    </div>
                                    <!--end::Number-->
                                    <!--begin::Label-->
                                    <!--end::Label-->
                                </div>
                                <!--end::Stat-->
                                <!--begin::Stat-->
                                <div class="border rounded border-warning border border-dashed min-w-125px py-3 px-4 me-6 mb-3">
                                    <!--begin::Number-->
                                    <div class="fw-semibold fs-6 text-warning text-center">Tanggal SPPD</div>
                                    <div class="d-flex align-items-center">
                                        <div class="fs-4 fw-bold text-warning"> {{ data.tgl_kembali|date:"d F y" }} </div>
                                    </div>
                                    <!--end::Number-->
                                    <!--begin::Label-->
                                    <!--end::Label-->
                                </div>
                                
                                <!--end::Stat-->
                                <div class="border bg-light-success rounded border-success border border-dashed min-w-125px py-3 px-4 me-6 mb-3">
                                    <div class="fw-semibold fs-6 align-items-center">Status Perjalanan</div>
                                    <div class="align-items-center">
                                        <div class="fs-4 fw-bold"> {{ data.status_perjalanan}} </div>
                                    </div>
                                    <!--end::Label-->
                                </div>
                            </div>
                            <!--end::Stats-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Details--> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-12">
                <!--begin::Col header-->
                <div class="mb-9">
                    <div class="d-flex flex-stack">
                        <div class="fw-bold fs-4 mt-2">Uraian Perjalanan</div>
                    </div>
                    <div class="h-3px w-100 bg-warning mt-2"></div>
                    <p class="fw-semibold mt-2 fs-5"> {{ data.uraian }} </p>
                </div>
               
                <!--end::Col header-->
                <!--begin::Card-->
                <div class="card mb-6 mb-xl-9">
                    <!--begin::Card body-->
                    <div class="card-body">
                        <!--begin::Title-->
                        <div class="mb-2">
                            <div class="fs-4 fw-bold mb-1 text-dark-900">Menugaskan Kepada Pegawai Berikut :</div>
                        </div>
                        <div class="table-responsive">
                            <table id="datatabel" class="table table-row-bordered gy-5 table-responsive">
                                <thead>
                                    <th> No</th>
                                    <th> NIP</th>
                                    <th> Nama Pegawai </th>
                                    <th> Jabatan </th>
                                    <th> Uraian SSH </th>
                                    <th> Satuan </th>
                                    <th> Volume </th>
                                    <th> Nilai </th>
                                    <th> SubTotal </th>
                                    <th> Realisasi </th>
                                    <th> Sisa </th>
                                </thead>
                                <tbody>
                                    {% for detail_spt in data_sshdalam %}
                                        <tr>
                                            <td> {{ forloop.counter }}</td>
                                            <td> {{ detail_spt.nip }} </td>
                                            <td>
                                                {{ detail_spt.nama|title }}
                                            </td>
                                
                                            {% for item in detail_spt.detail %}
                                                {% if not forloop.first  %}
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                {% endif %}
                                                <td>
                                                    <input type="hidden" class="form-control" value="{{ item.id }}" name="pegawai_id">
                                                    {{ item.jabatan }}</td>
                                                <td>
                                                    {{ item.uraian_ssh }}
                                                </td>
                                                <td>
                                                    {{ item.satuan }}
                                                </td>
                                                <td>
                                                    {{ item.volume }}
                                                </td>
                                                <td>
                                                    {{ item.nilai|intcomma }}
                                                </td>
                                                <td>
                                                    <input type="hidden" class="form-control subtotal" value="{{ item.subtotal }}" name="subtotal">
                                                    {{ item.subtotal|intcomma }}
                                                </td>
                                                <td>
                                                    <div class="box d-flex">
                                                        <span>Rp.</span>
                                                        <input type="text" class="form-control realisasi-input" style="width: 150px;" name="realisasi_input" required>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="box d-flex">
                                                        <span>Rp.</span>
                                                        <input type="text" class="form-control sisa-input" style="width: 150px;" name="sisa_input" required>
                                                    </div>
                                                </td>
                                                
                                                {% if not forloop.first  %}
                                                </tr>
                                                {% endif %}

                                                
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                
                                
                                <tfoot> 
                                    <th colspan="7"></th>
                                    <th>
                                        <input type="hidden" class="form-control" value = "{{total}}" name="total">
                                       <Strong>Total </Strong> 
                                    </th>
                                    <th>
                                       <strong> Rp.{{total|intcomma}} </strong> 
                                    </th>
                                    <th>
                                       <strong id="total-realisasi">Rp.0</strong> 
                                       <input type="hidden" class="form-control sisa-input" style="width: 150px;" name="realisasi" id="realisasi">
                                    </th>
                                    <th>
                                        <strong id="total-sisa">Rp.0</strong> 
                                        <input type="hidden" class="form-control sisa-input" style="width: 150px;" name="sisa" id="sisa">
                                    </th>
                                </tfoot>
                            </table>
                            <div class="container-footer d-flex">
                                <div class="upload-bukti">
                                    <label class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary" for="image">Pilih Bukti</label>
                                    <input type="file" class="custom-file-input"  id="image" name="image" accept="image/*, .pdf" required>
                                </div>
                                <div class="button-save">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan </button>
                                </div>
                            </div>
                               
                        </div>
                    </div>
                    <!--end::Card body-->
                </div>
               
            </div>
        </div>
    </div>
</form>
{% endfor %}
    
    
{% endblock %}

{% block scripts %}
    <!-- <script src="{% static 'admin/js/datatables/datatables.min.js' %}"></script> -->
    <!-- <script src="{% static 'admin/js/admin/admin-aksi.js' %}"></script> -->
    <script>
        // Get references to the elements by their class names
        // Get references to the elements by their class names
        // Get references to the elements by their class names
        const realisasiInputs = document.querySelectorAll(".realisasi-input");
        const sisaInputs = document.querySelectorAll(".sisa-input");
        const subtotalInputs = document.querySelectorAll(".subtotal");
        const totalRealisasi = document.getElementById("total-realisasi");
        const totalSisa = document.getElementById("total-sisa");
        const realisasiInput = document.getElementById("realisasi");
        const sisaInput = document.getElementById("sisa");

        function calculateTotals() {
            let currentTotalRealisasi = 0;
            let currentTotalSisa = 0;

            realisasiInputs.forEach((realisasiInput, index) => {
                const subtotalValue = parseFloat(subtotalInputs[index].value.replace(/,/g, ""));
                const realisasiValue = parseFloat(realisasiInput.value.replace(/,/g, ""));

                if (!isNaN(realisasiValue)) {
                    currentTotalRealisasi += realisasiValue;
                }

                if (!isNaN(subtotalValue)) {
                    const sisaValue = subtotalValue - (isNaN(realisasiValue) ? 0 : realisasiValue);
                    sisaInputs[index].value = sisaValue;
                    currentTotalSisa += sisaValue;
                }
            });

            totalRealisasi.textContent = `Rp.${currentTotalRealisasi.toLocaleString()}`;
            totalSisa.textContent = `Rp.${currentTotalSisa.toLocaleString()}`;
            realisasiInput.value = currentTotalRealisasi;
            sisaInput.value = currentTotalSisa;

        }

        realisasiInputs.forEach((realisasiInput) => {
            realisasiInput.addEventListener("input", calculateTotals);
        });

        calculateTotals();



    </script>

    
                                
{% endblock scripts %}