{% extends 'layouts/base_layout.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block content %}
<div class="tab-content container-fluid">
    <div class="title mb-5">
        <h1>Surat Pertanggungjawaban Perjalanan Dinas</h1>
    </div>
    <div class="container ">
        <div class="table data-table d-flex justify-content-end">
            <form action="#">
                <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" id="search">
            </form>
            <button class="btn btn-sm btn-success mx-2" type="button">Search</button>
        </div>
    </div>


  <!--begin::Tab panel-->
  <div
    id="kt_billing_months"
    class="card-body p-0 tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="kt_billing_months"
  >
    <!--begin::Table container-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table id="datatabel" class="table table-row-bordered gy-5">
        <thead>
            <tr class="fw-semibold fs-6 text-muted">
                <th>No</th>
                <th>No.SPPD</th>
                <th>Jenis</th>
                <th>Tanggal</th>
                <th>Uraian</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for data in sppd %}
            {% include 'SPJ/modal_spj.html' %}
            {% include 'SPJ/modal_print.html' %}
            <tr>
                  <td>{{ forloop.counter }}</td>  
                  <td>{{ data.no_sppd }}</td>  
                  <td>{{ data.no_spt.status_perjalanan }}</td>  
                  <td>{{ data.no_spt.tgl_berangkat|date:"d/m/Y" }}</td>  
                  <td>
                    <p>Dilaksanakan Selama: <strong>{{ data.no_spt.durasi }}</strong> Hari , <br> Dari Tanggal: <b><i>{{ data.no_spt.tgl_berangkat|date:"d/m/Y" }} - {{ data.no_spt.tgl_kembali|date:"d/m/Y" }}</i></b></p>
                    <p>
                        {{ data.no_spt.uraian }}
                    </p>
                </td>  
                <td>
                    {% if data.spj_set.all %}
                        {% for item in data.spj_set.all %}
                            {% if item.status == 1 %}
                                <div class="d-flex">
                                    <a href="{% url 'sppd:preview_spj' data.id %}" class="btn btn-sm btn-primary me-3"><i class="fa fa-eye"></i></a>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#print{{data.id}}" class="btn btn-sm btn-success me-3"><i class="fa fa-print"></i></a>
                                </div>
                            {% else %}
                            <a href="#" data-bs-toggle="modal" data-bs-target="#spj{{ data.id }}" class="btn btn-xs btn-info">
                                <span class="fa fa-file"></span> Buat SPJ
                            </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#spj{{ data.id }}" class="btn btn-xs btn-info">
                        <span class="fa fa-file"></span> Buat SPJ
                    </a>
                    {% endif %}
                    
                </td>
                
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
      <!--end::Table-->
    </div>
    <!--end::Table container-->
  </div>
  <!--end::Tab panel-->
</div>
{% endblock content %}



{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#datatabel').DataTable({
                "searching": true,  // Aktifkan pencarian
                "searchDelay": 500,  // Atur penundaan pencarian (dalam milidetik)
            });
            var table = $('#datatabel').DataTable();
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            } );
        });
    </script>
{% endblock scripts %}