{% extends "layouts/base_layout.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="title">
            <h2><i class="fa fa-pencil text-dark"></i> Pengajuan  Surat Perintah Tugas </h2>
        </div>
        <div class="form-create" id="createluar" >
            <form action="tambah/" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-end h-xl-100" style="background-color:#203647a6;background-image:url('/metronic8/demo1/assets/media/stock/600x600/img-62.jpg')">       
                            <!--begin::Body-->
                            <div class="card-body d-flex justify-content-between flex-column ps-xl-18"> 
                                <!--begin::Heading-->
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <div class="input-group input-group-sm mb-5">
                                            <input type="text" class="form-control" placeholder="No.SPT"  name="nospt" id="nospt">
                                            <span class="input-group-text" id="basic-addon2"> /SPT/I/SET/2023</span>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" > Nama SKPD </span>
                                            <div class="form-control form-control-sm">
                                                <select name="sumber_dana" class="" data-control="select2" data-dropdown-parent="#createluar" data-placeholder="Pilih SKPD" data-allow-clear="true" required>
                                                    <option value="">-Pilih SKPD-</option>
                                                    {% for data in organisasi %}
                                                    <option value="{{ data.id_organisasi }}">{{ data.urai }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm"> Tgl Berangkat </span>
                                            <input type="date" required data-placeholder="Tanggal berangkat"class="form-control" name="berangkat" id="berangkat" onchange="hitungJumlahHari()"/>
                                        </div>  
                                    </div>                                    
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm"> Tgl Kembali </span>
                                             <input type="date" required data-placeholder="Tanggal berangkat"class="form-control" name="kembali" id="kembali" onchange="hitungJumlahHari()"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5"  >
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Durasi </span>
                                             <input id="hasil" type="text" readonly required data-placeholder="Lama Perjalan" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: #e4e6ef00; color: white; border: 0px;"> Status Perjalanan</span>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1" style="color: white;">
                                                    Zona I
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1" style="color: white;">
                                                    Zona II
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1" style="color: white;">
                                                    Zona III
                                                    </label>
                                                </div> 
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1" style="color: white;">
                                                    Dalam Provinsi
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1" style="color: white;">
                                                    Luar Provinsi
                                                    </label>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="basic-addon2">Dari Kigamani Ke</span>
                                            <input type="text" class="form-control" placeholder="Masukkan Kota Tujuan">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-4">
                                            <span class="input-group-text" id="inputGroup-sizing-sm"> PEMBEBANAN ANGGARAN </span>
                                            <input type="text" required data-placeholder="Tanggal berangkat"class="form-control" name="berangkat" id="berangkat" readonly value="DPA/DPPA 2023" style="color: white;"/>
                                        </div>  
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" >Kegiatan </span>
                                            <div class="form-control form-control-sm">
                                                <select name="sumber_dana" class="" data-control="select2" data-dropdown-parent="#createluar" data-allow-clear="true" required>
                                                    <option value="">Pilih Program / Kegiatan / Subkegiatan</option>
                                                    {% for data in kegiatan %}
                                                    <option value="{{ data.id }}">{{ data.kd_subkegiatan }} - {{ data.urai_subkegiatan }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-12">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" > Maksud dan Tujuan </span>
                                            <div class="form-control form-control-sm">
                                                <textarea name="" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="mb-xl-10 mb-3">
                                    <a href="#" class="btn btn-primary btn-sm fw-semibold me-2" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
                                        <span class="fa fa-save"></span> Simpan
                                    </a>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                    </div>
                </div>
                {% include 'SPT/modal_spt.html' %}
                <hr>
                <div class="row">
                    <div class="col-md-10"><h3><span class="fa fa-users"></span> Data Pegawai</h3></div>
                </div>
                <div class="button-tambah">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tambah">
                        Tambah
                    </button>
                </div>

                <div class="table-responsive">
                    <!--begin::Table-->
                    <table id="table2" class="table table-row-bordered gy-5">
                      <thead>
                          <tr class="fw-semibold fs-6 text-muted">
                            <th> No </th>
                            <th> Nama Pegawai </th>
                            <th> NIP </th>
                            <th> Pangkat </th>
                            <th> Golongan </th>
                            <th> aksi </th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for data in pegawai %}
                        
                        {% endfor %}
                      </tbody>
                  </table>
                    <!--end::Table-->
                </div>

                <!-- <div class="modal-footer d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div> -->
            </form>

    
{% endblock %}

{% block scripts %}
    <!-- <script src="{% static 'admin/js/datatables/datatables.min.js' %}"></script> -->
    <!-- <script src="{% static 'admin/js/admin/admin-aksi.js' %}"></script> -->
    <script>
        $(document).ready(function () {
        var rowIndex = 1; // Inisialisasi nomor indeks baris
        var existingValues = new Set(); // Set untuk melacak nilai-nilai yang sudah ada // Set untuk melacak nilai-nilai yang sudah ada
        
        // Menangani klik dua kali pada tabel
        $('#table1').on('dblclick', 'tr', function () {
            var nama = $(this).find('td:eq(1)').text();
            var nip = $(this).find('td:eq(2)').text();
            var pangkat = $(this).find('td:eq(3)').text();
            var golongan = $(this).find('td:eq(4)').text();
            
            // Mengecek apakah nilai sudah ada dalam set existingValues
            var valueToCheck = nama + nip + pangkat + golongan;
            if (!existingValues.has(valueToCheck)) {
                // Mendapatkan data dari baris yang di-klik
                var newRow = document.createElement("tr");
                var newCellNo = document.createElement("td");
                var newCellNama = document.createElement("td");
                var newCellNIP = document.createElement("td");
                var newCellPangkat = document.createElement("td");
                var newCellGolongan = document.createElement("td");
                var newCellAksi = document.createElement("td"); // Menggunakan <td> untuk tombol
                
                newCellNo.textContent = rowIndex; // Menggunakan nomor indeks baris
                newCellNama.textContent = nama;
                newCellNIP.textContent = nip;
                newCellPangkat.textContent = pangkat;
                newCellGolongan.textContent = golongan;
                
                // Membuat objek JavaScript untuk tombol hapus
                var deleteButton = document.createElement("button");
                deleteButton.textContent = 'hapus';
                deleteButton.setAttribute('class', 'btn btn-sm btn-danger');
                deleteButton.onclick = function () {
                    newRow.remove(); // Menghapus baris saat tombol hapus diklik
                    existingValues.delete(valueToCheck); // Menghapus nilai dari set
                };
                newCellAksi.appendChild(deleteButton);

                var inputhidden = document.createElement("input");
                inputhidden.setAttribute('value', nama);
                inputhidden.setAttribute('type', 'hidden');

                newCellNama.appendChild(inputhidden);
                
                newRow.appendChild(newCellNo);
                newRow.appendChild(newCellNama);
                newRow.appendChild(newCellNIP);
                newRow.appendChild(newCellPangkat);
                newRow.appendChild(newCellGolongan);
                newRow.appendChild(newCellAksi);
                
                document.getElementById("table2").getElementsByTagName('tbody')[0].appendChild(newRow);
                
                existingValues.add(valueToCheck); // Menambahkan nilai ke set
                rowIndex++; // Menambah nomor indeks baris untuk baris berikutnya
            } else {
                alert('Pegawai sudah di tambahkan.');
            }
        });
    });

    function hitungJumlahHari() {
        // Dapatkan elemen input tanggal berangkat dan tanggal kembali
        var tanggalBerangkat = document.getElementById("berangkat").value;
        var tanggalKembali = document.getElementById("kembali").value;

        // Konversi tanggal ke objek Date
        var tglBerangkat = new Date(tanggalBerangkat);
        var tglKembali = new Date(tanggalKembali);

        // Hitung selisih hari antara dua tanggal
        var selisihHari = Math.abs((tglKembali - tglBerangkat) / (24 * 60 * 60 * 1000));

        // Tampilkan hasilnya di elemen dengan id "hasil"
        document.getElementById("hasil").value = selisihHari + " hari";
    }

    // Event listener untuk memanggil fungsi ketika tanggal berangkat atau kembali berubah
    document.getElementById("berangkat").addEventListener("change", hitungJumlahHari);
    document.getElementById("kembali").addEventListener("change", hitungJumlahHari);
</script>
    
{% endblock scripts %}