{% extends "layouts/base_layout.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="title">
            <h1>Pengajuan Surat Perintah Tugas(SPT)</h1>
        </div>
    
        <div class="tab d-flex mx-2 mb-5">
            <div class="tab-dalam mx-3">
                <a href="{% url 'sppd:create_sppd' %}">
                    <button type="button" class="btn btn-sm btn-outline-secondary ">Dalam Daerah</button>
                </a>
            </div>
            <div class="tab-luar">
                <a href="{% url 'sppd:create_sppd_luar' %}">
                    <button type="button" class="btn btn-sm btn-outline-secondary active">Luar Daerah</button>
                </a>
            </div>
        </div>
        <div class="form-create" id="createluar" >
            <form action="tambah/" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-5">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="inputGroup-sizing-sm" > Nama SKPD </span>
                            <div class="form-control form-control-sm">
                                <select name="sumber_dana" class="" data-control="select2" data-dropdown-parent="#createluar" data-placeholder="pilih SKPD" data-allow-clear="true" required>
                                    <option value="">-Pilih SKPD-</option>
                                    {% for data in organisasi %}
                                    <option value="{{ data.id_organisasi }}">{{ data.urai }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Tanggal Berangkat </span>
                            <input type="date" required data-placeholder="Tanggal berangkat"class="form-control" name="berangkat" id="berangkat"/>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 d-flex">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Status Perjalanan</span>
                            <div class="form-check mx-2 mt-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Dalam Provinsi
                                </label>
                              </div>
                            <div class="form-check mx-2 mt-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Luar Provinsi
                                </label>
                              </div>
                          </div>
                          
                    </div>
                    <div class="col-md-5">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Tanggal Kembali </span>
                            <input type="date" required data-placeholder="Tanggal berangkat"class="form-control" name="berangkat" id="berangkat"/>
                          </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-5">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="inputGroup-sizing-sm" > Tujuan Keberangkatan </span>
                            <div class="form-control form-control-sm">
                                <select name="sumber_dana" class="" data-control="select2" data-dropdown-parent="#createluar" data-placeholder="Pilih Tujuan Keberangkatan" data-allow-clear="true" required>
                                    <option value="">-Pilih Tujuan Keberangkatan-</option>
                                    {% for data in lokasi %}
                                    <option value="{{ data.id }}">{{ data.urai }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Tanggal Pembuatan </span>
                            <input type="date" required placeholder="Tanggal berangkat" class="form-control" name="pagu" id="pagu"/>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> No SPT </span>
                            <input type="text" required class="form-control" name="kd_subkegiatan" id="kd_subkegiatan"/>
                          </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> No SPPD </span>
                            <input type="text" required class="form-control" name="pagu" id="pagu"/>
                          </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-5">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="inputGroup-sizing-sm" > Kode Program </span>
                            <div class="form-control form-control-sm">
                                <select name="sumber_dana" class="" data-control="select2" data-dropdown-parent="#createluar" data-placeholder="Pilih Kode Program" data-allow-clear="true" required>
                                    <option value="">-Pilih Kode Program-</option>
                                    {% for data in kegiatan %}
                                    <option value="{{ data.id }}">{{ data.kd_program }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="inputGroup-sizing-sm" > Kode Kegiatan </span>
                            <div class="form-control form-control-sm">
                                <select name="sumber_dana" class="" data-control="select2" data-dropdown-parent="#createluar" data-placeholder="Kode Kegiatan" data-allow-clear="true" required>
                                    <option value="">-Pilih Kode Kegiatan-</option>
                                    {% for data in lokasi %}
                                    <option value="{{ data.id }}">{{ data.kd_kegiatan }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> Maksud Perjalanan Dinas </span>
                            <textarea class="form-control" aria-label="With textarea" id="alamat" name="alamat" value="{{data.alamat}}"></textarea>
                          </div>
                    </div>
                </div>
                <!-- <input type="hidden" name="status" value="true"> -->
                <div class="mb-3">
                    <p id="error-message"></p>
                  </div>
                  <div class="modal-footer d-flex justify-content-start">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                  </div>
            </form>
        </div>
    </div>


    
{% endblock %}