{% extends "layouts/base_layout.html" %}
{% load static %}
{% block content %}
{% load humanize %}

{% for data in detailspt %}
<form action="simpan/" method="POST" onsubmit="return validation()">
    {% csrf_token %}
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card">
            <div class="card-body pt-9 pb-0">
                <!--begin::Details-->
                <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
                    <!--begin::Image-->
                    <div class="d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px w-lg-150px h-lg-150px me-7 mb-4">
                        <img class="mw-50px mw-lg-75px" src="{% static 'media/logos/logo.svg' %}" alt="image">
                    </div>
                    <!--end::Image-->
                    <!--begin::Wrapper-->
                    <div class="flex-grow-1">
                        <!--begin::Head-->
                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                            <!--begin::Details-->
                            <div class="d-flex flex-column">
                                <!--begin::Status-->
                                <div class="d-flex align-items-center mb-1">
                                    <div class="text-dark-800 fs-2 fw-bold me-3">Surat Perintah Perjalanan Dinas</div>
                                </div>
                                <!--end::Status-->
                                <!--begin::Description-->
                                <div class="d-flex flex-wrap fw-semibold fs-5 text-dark-400">
                                    <input type="hidden" class="form-control" value="{{ nosppd }}" name="nosppd">
                                    <u> No SPPD.{{ nosppd }} </u>
                                </div>
                                <div class="d-flex flex-wrap mb-4 text-gray-400">
                                    <input type="hidden" class="form-control" value="{{ data.id }}" name="nospt">
                                    No SPT.{{ data.no_spt }}
                                </div>
                                <!--end::Description-->
                            </div>
                            <!--end::Details-->
                        </div>
                        <!--end::Head-->
                        <!--begin::Info-->
                        <div class="d-flex flex-wrap justify-content-start">
                            <!--begin::Stats-->
                            <div class="d-flex flex-wrap">
                                <!--begin::Stat-->
                                <div class="border rounded border-primary border border-dashed min-w-125px py-3 px-4 me-6 mb-3">
                                    <!--begin::Label-->
                                    <div class="fw-semibold fs-6 text-primary text-center">Tanggal Dibuat</div>
                                    <!--end::Label-->
                                    <!--begin::Number-->
                                    <div class="align-items-center">
                                        <div class="fs-4 fw-bold text-primary">
                                            <input type="hidden" class="form-control" value="{{ data.tgl_berangkat|date:'Y-m-d' }}" name="tanggalsppd">
                                            {{ data.tgl_berangkat|date:"d F y" }}
                                        </div>
                                    </div>
                                    <!--end::Number-->
                                </div>
                                <!--end::Stat-->
                                <!--begin::Stat-->
                                <div class="border rounded border-warning border border-dashed min-w-125px py-3 px-4 me-6 mb-3">
                                    <!--begin::Label-->
                                    <div class="fw-semibold fs-6 text-warning text-center">Tanggal SPPD</div>
                                    <div class="align-items-center">
                                        <div class="fs-4 fw-bold text-warning"> {{ data.tgl_kembali|date:"d F y" }} </div>
                                    </div>
                                </div>
                            
                                <!--end::Stat-->
                                <div class="border bg-light-success text-center rounded border-success border border-dashed min-w-125px py-3 px-4 me-6 mb-3">
                                    <!--begin::Label-->
                                    <div class="fw-semibold fs-6 align-items-center">Zona Perjalanan</div>
                                    <!--end::Label-->
                                    <!--begin::Number-->
                                    <div class="align-items-center">
                                        <div class="fs-4 fw-bold"> {{ data.status_perjalanan}} </div>
                                    </div>
                                    <!--end::Number-->
                                </div>
                            </div>
                            <!--end::Stats-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Details--> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-12">
                <!--begin::Col header-->
                <div class="mb-9">
                    <div class="d-flex flex-stack">
                        <div class="fw-bold fs-4 mt-2">Uraian Perjalanan</div>
                    </div>
                    <div class="h-3px w-100 bg-warning mt-2"></div>
                    <p class="fw-semibold mt-2 fs-5"> {{ data.uraian }} </p>
                </div>
               
                <!--end::Col header-->
                <!--begin::Card-->
                <div class="card mb-6 mb-xl-9">
                    <!--begin::Card body-->
                    <div class="card-body">
                        <!--begin::Title-->
                        <div class="mb-2">
                            <div class="fs-4 fw-bold mb-1 text-dark-900">Menugaskan Kepada Pegawai Berikut :</div>
                        </div>
                        <div class="table-responsive">
                            <table id="datatabel" class="table table-row-bordered gy-5">
                                <thead>
                                    <th> No</th>
                                    <th> NIP</th>
                                    <th> Nama Pegawai </th>
                                    <th> Jabatan (Golongan)</th>
                                    <th> Uraian SSH </th>
                                    <th> Satuan </th>
                                    <th> Volume </th>
                                    <th> Nilai </th>
                                    <th> SubTotal </th>
                                </thead>
                                <tbody>
                                
                                {% for detail_spt in data_sshlokal %}
                                    <tr>
                                        <td> {{ forloop.counter }}</td>
                                        <td> {{ detail_spt.nip }} </td>
                                        <td>
                                            <!-- <input type="hidden" class="form-control" value="{{detail_spt.id}}" name="pegawai"> -->
                                            {{detail_spt.nama|title}} 
                                        </td>
                                        
                                        {% for data in detail_spt.detail %}
                                        {% if not forloop.first %}
                                        <tr>
                                        {% endif %}
                                                <input type="hidden" class="form-control" value="{{detail_spt.id}}" name="pegawai">
                                                <td> {{data.jabatan}} ({{data.eselon}}) </td>
                                                <td>
                                                    <input type="hidden" class="form-control" value="{{data.tipe}}" name="uraianssh">
                                                    {{data.tipe}} 
                                                </td>
                                                <td> 
                                                    <input type="hidden" class="form-control" value="{{data.satuan}}" name="satuan">
                                                    {{data.satuan}} 
                                                </td>
                                                <td>
                                                    <input type="hidden" class="form-control" value="{{data.volume}}" name="volume">
                                                    {{data.volume}}
                                                </td>
                                                <td> 
                                                    <input type="hidden" class="form-control" value="{{data.harga}}"name="nilai">
                                                    Rp{{data.harga|intcomma}} 
                                                </td>
                                                <td id="jumlah"> 
                                                    <input type="hidden" class="form-control" value="{{data.subtotal}}" name="subtotal">
                                                     Rp{{data.subtotal|intcomma}}
                                                </td>
                                                {% if not forloop.first  %}
                                        </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot> 
                                    <th colspan="7"></th>
                                    <th>
                                        <input type="hidden" class="form-control" value ="{{total}}" name="total">
                                       <Strong> Total </Strong> 
                                    </th>
                                    <th>
                                       <strong> Rp{{total|intcomma}} </strong> 
                                    </th>
                                </tfoot>
                            </table>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan </button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endfor %}
    
    
{% endblock %}

{% block scripts %}
    <!-- <script src="{% static 'admin/js/datatables/datatables.min.js' %}"></script> -->
    <!-- <script src="{% static 'admin/js/admin/admin-aksi.js' %}"></script> -->
    <script>

        function penjumlahan() {
        // Dapatkan elemen input tanggal berangkat dan tanggal kembali
        var jumlah= document.getElementById("jumlah").value;
        // var tanggalKembali = document.getElementById("kembali").value;


        // Hitung selisih hari antara dua tanggal
        var selisihHari = Math.abs((tglKembali - tglBerangkat) / (24 * 60 * 60 * 1000));

        // Tampilkan hasilnya di elemen dengan id "hasil"
        document.getElementById("hasil").value = selisihHari;
    }
    </script>
    
{% endblock scripts %}