{% extends 'layouts/base_layout.html' %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="tab-content container-fluid">
    <div class="title mb-5">
        <h1> Data Surat Perintah Perjalanan Dinas (SPPD) </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="button-item d-flex">
                    <div class="tab-dalam mx-3">
                        <a href="{% url 'sppd:create_sppd' %}">
                            <button type="button" class="btn btn-sm btn-info " style="border: 1px solid #fff;">Luar Daerah</button>
                        </a>
                      </div>
                      <div class="tab-dalam mx-3">
                        <a href="{% url 'sppd:create_sppd_dalam' %}">
                            <button type="button" class="btn btn-sm btn-outline-secondary active" >Dalam Daerah</button>
                        </a>
                      </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table data-table d-flex">
                    <form action="#">
                        <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" id="search">
                    </form>
                    <button class="btn btn-sm btn-success mx-2" type="button">Search</button>
                </div>
            </div>
        </div> 
    </div>
  <div
    id="kt_billing_months"
    class="card-body p-0 tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="kt_billing_months">
  
    <div class="table-responsive">
      <table id="datatabel" class="table table-row-bordered gy-5">
        <thead>
            <tr class="fw-semibold fs-6 text-muted">
                <th>No</th>
                <th>Jenis Perjalan</th>
                <th>No. SPT</th>
                <th>Tanggal</th>
                <th>Uraian</th>
                <th>Pegawai</th>
                <td>Status</td>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>

            {% for data in spt %}
            {% if data.status_perjalanan == "Luar Provinsi" or data.status_perjalanan == "Dalam Provinsi" %}
            {% include 'SPPD/modal_nosppd.html' %}
            {% include 'SPPD/modal_print.html' %}
                 <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.status_perjalanan}}</td>
                    <td>{{ data.no_spt}} 
                    </td>
                    <td>{{ data.tgl_berangkat|date:"M. d, Y" }}</td>
                    <td>
                        <p>Dilaksanakan Selama : <strong> {{data.durasi}} </strong> hari , <br> Dari Tanggal : <b><i>{{ data.tgl_berangkat|date:"M. d, Y" }} - {{ data.tgl_kembali|date:"M. d, Y" }}</i></b></p>
                        <p>
                            {{ data.uraian }}
                        </p>
                    </td>
                    <td>
                        Memerintahkan :<br>
                        <ol>
                            {% for detail_spt in data.detailspt_set.all %}  
                                <li>{{ detail_spt.pegawai.nama|title }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                    <td> 
                        <a href="#" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-success btn-active-light-success">Disetujui</a>
                    </td>
                <td>
                    {% if data.sppd_set.all %}
                        {% for item in data.sppd_set.all %}
                            {% if item.status == 1 %}
                                <div class="d-flex">
                                    <a href="{% url 'sppd:view' data.sppd_set.all.0.id %}" class="btn btn-sm btn-primary me-3"><i class="fa fa-eye"></i></a>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#print{{data.id}}" class="btn btn-sm btn-success me-3"><i class="fa fa-print"></i></a>
                                </div>
                            {% else %}
                                <a href="#" data-bs-toggle="modal" data-bs-target="#nosppd{{data.sppd_set.all.0.id}}" class="btn btn-xs btn-info">
                                    <span class="fa fa-file"></span> Buat SPPD
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#nosppd{{ data.id }}" class="btn btn-xs btn-info">
                            <span class="fa fa-file"></span> Buat SPPD
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
</div> 



{% endblock content %}


{% block scripts %}
    <script>
        $(document).ready( function () {
            var table = $('#datatabel').DataTable({
                "searching": true,  // Aktifkan pencarian
                "searchDelay": 500,  // Atur penundaan pencarian (dalam milidetik)
                createdRow: function(row, data, dataIndex) {
                    $('td',row).eq(0).text(dataIndex+1)
                }
            });
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            } );
        }); 
    </script>
{% endblock scripts %}