  <!-- Modal -->
  <div class="modal fade" id="nosppdlokal{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
          <h1 class="modal-title fs-5" style="color: white;"></i> Tambahkan Nomor SPPD </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="nosppd">
        <form action="{% url 'sppd:add' data.id %}" method="POST">
                {% csrf_token %}
            <div class="container">
              <div class="row">
                  <div class="col">
                      <div class="input-group input-group-sm mb-5">
                          <span class="input-group-text" id="inputGroup-sizing-sm"> No SPPD </span>
                          <input type="text" class="form-control" value="/SPPD/SET/2023" name="nosppd" style="font-weight: bold;" required>
                      </div>
                  </div>
              </div> 
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Submit </button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
