  <!-- Modal -->
<div class="modal fade" id="nosppd{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
            <h1 class="modal-title fs-5" style="color: white;"></i> Tambahkan Nomor SPPD </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="nosppd">
        <form action="tambah/{{data.id}}" method="POST">
                {% csrf_token %}
            <div class="container">     
            {% if data.status_perjalanan != 'Dalam Provinsi'%}
              <div class="row">
                  <div class="col">
                      <div class="input-group input-group-sm mb-5">
                          <span class="input-group-text" id="inputGroup-sizing-sm"> No SPPD </span>
                          <input type="text" class="form-control" value="/SPPD/SET/2023" name="nosppd" style="font-weight: bold;" required>
                      </div>
                  </div>
              </div> 
              <div class="input-group input-group-sm mb-5 rounded">
                <span class="input-group-text" id="inputGroup-sizing-sm"> Type Transportasi </span>
                <div class="form-check mx-2 mt-2">
                    <input class="form-check-input" value="Udara" type="radio" name="type_tras" id="type_tras" required>
                    <label class="form-check-label" for="jenis">
                        Udara
                    </label>
                </div>
              </div> 
              <div class="row">
                <div class="col">
                    <div class="input-group input-group-sm mb-5">
                        <span class="input-group-text" id="inputGroup-sizing-sm"> Tujuan </span>
                        <input type="text" class="form-control" value="Kigamani - Nabire" name="tipe" style="font-weight: bold;" required> 
                    </div>
                </div>
            </div> 
            {% else %} 
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm mb-5">
                            <span class="input-group-text" id="inputGroup-sizing-sm"> No SPPD </span>
                            <input type="text" class="form-control" value="/SPPD/SET/2023" name="nosppd" style="font-weight: bold;" required>
                        </div>
                    </div>
                </div> 
                <div class="input-group input-group-sm mb-5">
                      <span class="input-group-text" id="inputGroup-sizing-sm"> Type Transportasi </span>
                      <div class="form-check mx-2 mt-2">
                          <input class="form-check-input" value="Udara" type="radio" name="type_tras" id="type_tras" required>
                          <label class="form-check-label" for="jenis">
                              Udara
                          </label>
                      </div>
                      <div class="form-check mx-2 mt-2">
                          <input class="form-check-input" value="Laut" type="radio" name="type_tras" id="type_tras" required>
                          <label class="form-check-label" for="jenis">
                              Laut
                          </label>
                      </div>
                      <div class="form-check mx-2 mt-2">
                          <input class="form-check-input" value="Darat" type="radio" name="type_tras" id="type_tras" required>
                          <label class="form-check-label" for="jenis">
                              Darat
                          </label>
                      </div>
                  </div>
                  <div class="input-group input-group-sm mb-5">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Tujuan</span>
                      <div class="form-control form-control-sm">
                          <select name="tipe" class="" data-control="select2" data-dropdown-parent="#nosppd{{data.id}}" data-placeholder="Pilih Tujuan" data-allow-clear="true" required>
                              <option value="">-Pilih Tujuan-</option>
                              <option value="Kigamani - Nabire">Kigamani-Nabire</option>
                              <option value="Kigamani - Deiyai ">Kigamani-Deiyai</option>
                              <option value="Kigamani - Paniai">Kigamani-Paniai</option>
                          </select>
                      </div>
                  </div>
            {% endif %}
              </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Submit </button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
