  <!-- Modal -->
  <div class="modal fade" id="tambah" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Data Pegawai</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- <table id="table1">
                <thead>
                    <tr>
                        <th> No </th>
                        <th> Nama Pegawai </th>
                        <th> NIP </th>
                        <th> Jabatan </th>
                        <th> Golongan </th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in pegawai %}
                        <tr onclick="addItem('{{ data.nama }}','{{ data.nip }}','{{ data.pangkat }}', '{{ data.golongan }}') ">
                            <td>{{forloop.counter}}</td>
                            <td>{{ data.nama }}</td>
                            <td>{{ data.nip }}</td>
                            <td>{{ data.pangkat }}</td>
                            <td>{{ data.golongan }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> -->
            <table class="table table-row-bordered gy-5" id="table1">
                <thead class="fw-semibold fs-6 text-muted">
                    <tr>
                        <th> No </th>
                        <th> Nama Pegawai </th>
                        <th> NIP </th>
                        <th> Jabatan </th>
                        <th> Golongan </th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in pegawai %}
                        <tr class="employee-row" onclick="addItem('{{forloop.counter}}','{{ data.nama }}','{{ data.nip }}','{{ data.pangkat }}', '{{ data.golongan }}') ">
                            <td>{{forloop.counter}}</td>
                            <td>{{ data.nama|title }}</td>
                            <td>{{ data.nip }}</td>
                            <td>{{ data.pangkat }}</td>
                            <td>{{ data.golongan }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>