{% extends "layouts/base_layout.html" %}
{% load static %}
{% block content %}
{% load humanize %}

{% for data in detail_spt %}
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card">
            <div class="card-body pt-9 pb-0">
                <!--begin::Details-->
                <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
                    <!--begin::Image-->
                    <div class="d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px w-lg-150px h-lg-150px me-7 mb-4">
                        <img class="mw-50px mw-lg-75px" src="{% static 'media/logos/logo.svg' %}" alt="image">
                    </div>
                    <!--end::Image-->
                    <!--begin::Wrapper-->
                    <div class="flex-grow-1">
                        <!--begin::Head-->
                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                            <!--begin::Details-->
                            <div class="d-flex flex-column">
                                <!--begin::Status-->
                                <div class="d-flex align-items-center mb-1">
                                    <div class="text-dark-800 fs-2 fw-bold me-3">Surat Perintah Perjalanan Dinas</div>
                                </div>
                                <!--end::Status-->
                                <!--begin::Description-->
                                <div class="d-flex flex-wrap fw-semibold fs-5 text-dark-400">
                                    <input type="hidden" class="form-control" value="{{ nosppd }}" name="nosppd">
                                    <u> No SPPD.{{ data.no_sppd }} </u>
                                </div>
                                <div class="d-flex flex-wrap mb-4 text-gray-400">
                                    <input type="hidden" class="form-control" value="{{ data.id }}" name="nospt">
                                    No SPT.{{ data.no_spt.no_spt }}
                                </div>
                                <!--end::Description-->
                            </div>
                            <!--end::Details-->
                        </div>
                        <!--end::Head-->
                        <!--begin::Info-->
                        <div class="d-flex flex-wrap justify-content-start">
                            <!--begin::Stats-->
                            <div class="d-flex flex-wrap">
                                <!--begin::Stat-->
                                <div class="border rounded border-primary border border-dashed min-w-125px py-3 px-4 me-6 mb-3">
                                    <!--begin::Number-->
                                    <div class="fw-semibold fs-6 text-primary text-center">Tanggal Dibuat</div>
                                    <div class="lign-items-center">
                                        <div class="fs-4 fw-bold text-primary">
                                            <input type="hidden" class="form-control" value="{{ data.tgl_berangkat|date:'Y-m-d' }}" name="tanggalsppd">
                                            {{ data.no_spt.tgl_berangkat|date:"d F y" }}
                                        </div>
                                    </div>
                                </div>
                                <!--end::Stat-->
                                <!--begin::Stat-->
                                <div class="border rounded border-warning border border-dashed min-w-125px py-3 px-4 me-6 mb-3">
                                    <div class="fw-semibold fs-6 text-warning text-center">Tanggal SPPD</div>
                                    <div class="d-flex align-items-center">
                                        <div class="fs-4 fw-bold text-warning text-center"> {{ data.no_spt.tgl_kembali|date:"d F y" }} </div>
                                    </div>
                                </div>
                                
                                <!--end::Stat-->
                                <div class="border bg-light-success rounded border-success border border-dashed min-w-125px py-3 px-4 me-6 mb-3">
                                    <!--begin::Number-->
                                    <div class="fw-semibold fs-6">Status Perjalanan</div>
                                    <div class="align-items-center">
                                        <div class="fs-4 fw-bold"> {{ data.no_spt.status_perjalanan}} </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Stats-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Details--> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-12">
                <!--begin::Col header-->
                <div class="mb-9">
                    <div class="d-flex flex-stack">
                        <div class="fw-bold fs-4 mt-2">Uraian Perjalanan</div>
                    </div>
                    <div class="h-3px w-100 bg-warning mt-2"></div>
                    <p class="fw-semibold mt-2 fs-5"> {{ data.no_spt.uraian }} </p>
                </div>
               
                <!--end::Col header-->
                <!--begin::Card-->
                <div class="card mb-6 mb-xl-9">
                    <!--begin::Card body-->
                    <div class="card-body">
                        <!--begin::Title-->
                        <div class="mb-2">
                            <div class="fs-4 fw-bold mb-1 text-dark-900">Menugaskan Kepada Pegawai Berikut :</div>
                        </div>
                        <div class="table-responsive">
                            <table id="datatabel" class="table table-row-bordered gy-5">
                                <thead>
                                    <th> No</th>
                                    <th> NIP</th>
                                    <th> Nama Pegawai </th>
                                    <th> Jabatan </th>
                                    <th> Uraian SSH </th>
                                    <th> Satuan </th>
                                    <th> Volume </th>
                                    <th> Nilai </th>
                                    <th> SubTotal </th>
                                </thead>
                                <tbody>
                                    {% for x in data_sppd %}
                                        {% for xx in x.detailsppd_set.all %}
                                        
                                            <tr>
                                                
                                                <td> {{xx.no}}</td>
                                                <td> {{ xx.pegawai.nip }} </td>
                                                <td>
                                                    <!-- <input type="hidden" class="form-control" value="{{detail_spt.id}}" name="pegawai"> -->
                                                    {{xx.pegawai.nama|title}} 
                                                </td>

                                                    <!-- <input type="hidden" class="form-control" value="{{detail_spt.id}}" name="pegawai"></td> -->
                                                        <td> {{xx.pegawai.jabatan}} ({% if xx.pegawai.eselon == '' %} - {% else %}{{xx.pegawai.eselon}}{%endif%}) </td>
                                                        <td>
                                                            <input type="hidden" class="form-control" value="{{x.tipe}}" name="uraianssh">
                                                            {{xx.uraian_ssh}} 
                                                        </td>
                                                        <td> 
                                                            <input type="hidden" class="form-control" value="{{x.satuan}}" name="satuan">
                                                            {{xx.satuan}} 
                                                        </td>
                                                        <td>
                                                            <input type="hidden" class="form-control" value="{{x.volume}}" name="volume">
                                                            {{xx.volume}}
                                                        </td>
                                                        <td> 
                                                            <input type="hidden" class="form-control" value="{{x.harga}}"name="nilai">
                                                            Rp{{xx.nilai|intcomma}} 
                                                        </td>
                                                        <td id="jumlah"> 
                                                            <input type="hidden" class="form-control" value=" {{x.subtotal}}" name="subtotal">
                                                            Rp{{xx.subtotal|intcomma}}
                                                        </td>
                                            </tr>
                                            {% endfor %}
                                        {% endfor %}
                                </tbody>
                                <tfoot> 
                                    <th colspan="7"></th>
                                    <th>
                                        <input type="hidden" class="form-control" value = "{{total}}" name="total">
                                       <Strong>Total </Strong> 
                                    </th>
                                    <th>
                                       <strong> Rp{{total|intcomma}} </strong> 
                                    </th>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!--end::Card body-->
                </div>
               
            </div>
        </div>
    </div>
{% endfor %}
    
    
{% endblock %}