<div class="modal fade" id="modal-default{{data.id_organisasi}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
            <h1 class="modal-title fs-5" style="color: white;"></i> Edit Data Organisasi </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
            <form action="edit/{{data.id_organisasi}}" method="POST">
                {% csrf_token %}
                <div>
                  <input type="hidden" class="form-control" id="id" value="{{data.kode_organisasi}}" required >
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Kode Organisasi </span>
                    <input type="text" class="form-control" name="KodeEdit" id="KodeEdit" value="{{data.kode_organisasi}}" required />
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Urai </span>
                    <input type="text" class="form-control" name="uraiedit" id="uraiedit" value="{{data.urai}}" required />
                </div>
               
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </form>
        </div>
        
    </div>
    </div>
</div>