  <!-- Modal -->
  <div class="modal fade" id="tambah" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
          <h1 class="modal-title fs-5" style="color: white;"></i> Tambah User </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="adduser">
            <form action="tambah/" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Nama </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="nama" required />
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm" > Nama SKPD </span>
                    <div class="form-control form-control-sm">
                        <select name="organisasi" class="" data-control="select2" data-dropdown-parent="#adduser" data-placeholder="Pilih SKPD" data-allow-clear="true" required>
                            <option value="">-Pilih SKPD-</option>
                            {% for data in organisasi %}
                            <option value="{{ data.id_organisasi }}">{{ data.urai }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Email </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="email" required />
                  </div>
                  <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Password </span>
                    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="password" required />
                  </div>
                  <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm" > Hak Akses </span>
                    <div class="form-control form-control-sm">
                        <select name="hak_akses" class="" data-control="select2" data-dropdown-parent="#adduser" data-placeholder="Pilih Hak Akses" data-allow-clear="true" required>
                            <option value=""> Pilih Hak Akses </option>
                            <option value="Adnin"> Admin</option>
                            <option value="Operator"> Operator </option>
                            <option value="Kepala Dinas"> Kepala Dinas </option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                  <p id="error-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>