{% extends "layouts/base_layout.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="title">
            <h2><i class="fa fa-pencil text-dark"></i> Pengajuan  Surat Perintah Tugas </h2>
        </div>
        <div class="form-create" id="createluar" >
            <form action="tambah/" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-end h-xl-100" style="background-color:#203647a6;background-image:url('/metronic8/demo1/assets/media/stock/600x600/img-62.jpg')">       
                            <!--begin::Body-->
                            <div class="card-body d-flex justify-content-between flex-column ps-xl-18"> 
                                <!--begin::Heading-->
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="basic-addon2">No SPT</span>
                                            <input type="text" class="form-control" value="/SPT/I/SET/2023"  name="nospt" id="nospt">
                                            {% for data in idnewspt %}
                                            <input type="hidden" value="{% with new_id=data.id|add:1 %}{{ new_id }}{% endwith %}" id="id_spt" name="id_spt">
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" > Nama SKPD </span>
                                            <div class="form-control form-control-sm">
                                                <select name="organisasi" class="" data-control="select2" data-dropdown-parent="#createluar" data-placeholder="Pilih SKPD" data-allow-clear="true" required>
                                                    <option value="">-Pilih SKPD-</option>
                                                    {% for data in organisasi %}
                                                    <option value="{{ data.id_organisasi }}">{{ data.urai }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm"> Tgl Berangkat </span>
                                            <input type="date" onfocus="this.showPicker()" required data-placeholder="Tanggal berangkat"class="form-control" name="berangkat" id="berangkat" onchange="hitungJumlahHari()"/>
                                        </div>  
                                    </div>                                    
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm"> Tgl Kembali </span>
                                             <input type="date" onfocus="this.showPicker()" required data-placeholder="Tanggal berangkat"class="form-control" name="kembali" id="kembali" onchange="hitungJumlahHari()"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5"  >
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Durasi </span>
                                            <input id="hasil" type="text" name="durasi" data-placeholder="Lama Perjalan" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: #e4e6ef00; color: white; border: 0px;"> Status Perjalanan</span>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" value="Zona I" type="radio" name="status" id="status">
                                                    <label class="form-check-label" for="status" style="color: white;">
                                                    Zona I
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" value="Zona II" type="radio" name="status" id="status">
                                                    <label class="form-check-label" for="status" style="color: white;">
                                                    Zona II
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" value="Zona III" type="radio" name="status" id="status">
                                                    <label class="form-check-label" for="status" style="color: white;">
                                                    Zona III
                                                    </label>
                                                </div> 
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" value="Dalam Provinsi" type="radio" name="status" id="status">
                                                    <label class="form-check-label" for="status" style="color: white;">
                                                    Dalam Provinsi
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" value="Luar Provinsi" type="radio" name="status" id="status">
                                                    <label class="form-check-label" for="status" style="color: white;">
                                                    Luar Provinsi
                                                    </label>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="basic-addon2">Dari Kigamani Ke <input type="hidden" value="Kigamani" name="awal" id="awal"></span>
                                            <input type="text" class="form-control" id="tujuan" name="tujuan" placeholder="Masukkan Kota Tujuan">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-4">
                                            <span class="input-group-text" id="inputGroup-sizing-sm"> PEMBEBANAN ANGGARAN </span>
                                            <input type="text" required data-placeholder="ANGGARAN"class="form-control" name="pembebanan" id="pembebanan" readonly value="DPA/DPPA 2023" style="color: white;"/>
                                        </div>  
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" >Kegiatan </span>
                                            <div class="form-control form-control-sm">
                                                <select name="kegiatan" class="" data-control="select2" data-dropdown-parent="#createluar" data-allow-clear="true" required>
                                                    <option value="">Pilih Program / Kegiatan / Subkegiatan</option>
                                                    {% for data in kegiatan %}
                                                    <option value="{{ data.id }}">{{ data.kd_subkegiatan }} - {{ data.urai_subkegiatan }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-12">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" > Maksud dan Tujuan </span>
                                            <div class="form-control form-control-sm">
                                                <textarea name="maksud" id="maksud" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="mb-xl-10 mb-3">
                                    <button type="submit" class="btn btn-primary btn-sm fw-semibold me-2">
                                        <span class="fa fa-save"></span> Save
                                    </button>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                    </div>
                </div>
                
                <hr>
                <div class="row">
                    <div class="col-md-10"><h3><span class="fa fa-users"></span> Data Pegawai</h3></div>
                </div>
                <div class="button-tambah">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tambah">
                        Tambah
                    </button>
                </div>

                <div class="table-responsive">
                    <!--begin::Table-->
                    <table id="table2" class="table table-row-bordered gy-5">
                      <thead>
                          <tr class="fw-semibold fs-6 text-muted">
                            <th> No </th>
                            <th> Nama Pegawai </th>
                            <th> NIP </th>
                            <th> Jabatan </th>
                            <th> Golongan </th>
                            <th> Aksi </th>
                          </tr>
                      </thead>
                      <tbody>
                        
                      </tbody>
                  </table>
                    <!--end::Table-->
                </div>

                <!-- <div class="modal-footer d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div> -->
            </form>

            {% include 'SPT/modal_spt.html' %}

    
{% endblock %}

{% block scripts %}
    <!-- <script src="{% static 'admin/js/datatables/datatables.min.js' %}"></script> -->
    <!-- <script src="{% static 'admin/js/admin/admin-aksi.js' %}"></script> -->
    <script>
         $(document).ready(function () {
            $('#table1').DataTable({
                "searching": true,  // Aktifkan pencarian
                "searchDelay": 500,  // Atur penundaan pencarian (dalam milidetik)
            });
            var table = $('#table1').DataTable();
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            });
            // var rowIndex = 1; // Inisialisasi nomor indeks baris
            var existingValues = new Set(); // Set untuk melacak nilai-nilai yang sudah ada
            var rowIndex = 1; // Inisialisasi nomor urutan baris

            function updateRowNumbers() {
                $('#table2 tbody tr').each(function (index) {
                    $(this).find('td:eq(0)').text(index + 1);
                });
            }
            // Menangani klik dua kali pada tabel
            $('#table1').on('dblclick', 'tr', function () {
                var idPegawaiInput = this.querySelector("input[name='id_pegawai']");
                var IdPegawai = idPegawaiInput.value;
                var nama = $(this).find('td:eq(1)').text();
                var nip = $(this).find('td:eq(2)').text();
                var pangkat = $(this).find('td:eq(3)').text();
                var golongan = $(this).find('td:eq(4)').text();
                var lastRow = $('#table2 tbody tr:last');
                // var tabel2 = $('#table2 tbody tr');
                var lastNo = parseInt(lastRow.find('td:eq(0)').text(), 10) || 0;
                var rowIndex = lastNo + 1;
                var namaValue = $('#table2 tbody tr').find('td:eq(1)').text();

                // Mengecek apakah nilai sudah ada dalam set existingValues
                var valueToCheck = nama + nip + pangkat + golongan;
                if (!existingValues.has(valueToCheck)) {
                    // Mendapatkan data dari baris yang di-klik
                    var newRow = document.createElement("tr");
                    var newCellNo = document.createElement("td");
                    var newCellNama = document.createElement("td");
                    var newCellNIP = document.createElement("td");
                    var newCellPangkat = document.createElement("td");
                    var newCellGolongan = document.createElement("td");
                    var newCellAksi = document.createElement("td"); // Menggunakan <td> untuk tombol

                    newCellNo.textContent = rowIndex; // Menggunakan nomor indeks baris
                    newCellNama.textContent = nama;
                    newCellNIP.textContent = nip;
                    newCellPangkat.textContent = pangkat;
                    newCellGolongan.textContent = golongan;

                    // Membuat objek JavaScript untuk tombol hapus
                    var deleteButton = document.createElement("button");
                    deleteButton.textContent = 'hapus';
                    deleteButton.setAttribute('class', 'btn btn-sm btn-danger');
                    deleteButton.onclick = function () {
                        
                    swal.fire({
                            title: `Anda Yakin ingin menghapus ${nama}?`,
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Ya, Hapus!",
                            cancelButtonText: "Batal",
                        }).then((result) => {
                        if (result.isConfirmed) {
                            newRow.remove(); // Menghapus baris saat tombol hapus diklik
                            existingValues.delete(valueToCheck); // Menghapus nilai dari set
                            updateRowNumbers()
                            swal.fire({
                                title: "Pegawai Berhasil di hapus",
                                icon: "success",
                                timer: 2000, 
                                showConfirmButton: false,
                            });
                        } else {
                            swal.fire({
                                title: "Pegawai Tidak Terhapus ",
                                icon: "error",
                                timer: 2000, 
                                showConfirmButton: false,
                            });
                        }

                        });
                    };
                    newCellAksi.appendChild(deleteButton);

                    // Membuat elemen input hidden
                    var inputhidden = document.createElement("input");
                    inputhidden.setAttribute('value', IdPegawai);
                    inputhidden.setAttribute('type', 'hidden');
                    inputhidden.setAttribute('name', 'id_pegawai[]'); // Menggunakan nomor indeks sebagai nama
                    inputhidden.setAttribute('id', 'id_pegawai'); // Menambahkan indeks ke ID (opsional)

                    newCellNama.appendChild(inputhidden);
                    newRow.appendChild(newCellNo);
                    newRow.appendChild(newCellNama);
                    newRow.appendChild(newCellNIP);
                    newRow.appendChild(newCellPangkat);
                    newRow.appendChild(newCellGolongan);
                    newRow.appendChild(newCellAksi);

                    document.getElementById("table2").getElementsByTagName('tbody')[0].appendChild(newRow);

                    existingValues.add(valueToCheck);
                    updateRowNumbers() 
                    swal.fire({
                        title: "Pegawai berhasil ditambahkan",
                        icon: "success",
                        timer: 2000, 
                        showConfirmButton: false,
                    });
                } else {
                    swal.fire({
                        title: "Pegawai Sudah ditambahkan",
                        icon: "error",
                        timer: 2000, 
                        showConfirmButton: false,
                    });
                }
            });
        });


    function hitungJumlahHari() {
        // Dapatkan elemen input tanggal berangkat dan tanggal kembali
        var tanggalBerangkat = document.getElementById("berangkat").value;
        var tanggalKembali = document.getElementById("kembali").value;

        // Konversi tanggal ke objek Date
        var tglBerangkat = new Date(tanggalBerangkat);
        var tglKembali = new Date(tanggalKembali);

        // Hitung selisih hari antara dua tanggal
        var selisihHari = Math.abs((tglKembali - tglBerangkat) / (24 * 60 * 60 * 1000));

        // Tampilkan hasilnya di elemen dengan id "hasil"
        document.getElementById("hasil").value = selisihHari;
    }

    // Event listener untuk memanggil fungsi ketika tanggal berangkat atau kembali berubah
    document.getElementById("berangkat").addEventListener("change", hitungJumlahHari);
    document.getElementById("kembali").addEventListener("change", hitungJumlahHari);
</script>
<script>
    // Ambil semua elemen baris tabel
    var rows = document.querySelectorAll('#tableBody tr');
  
    // Tambahkan event listener untuk setiap baris
    rows.forEach(function(row) {
      // Tampilkan tombol aksi saat kursor di atas baris
      row.addEventListener('mouseover', function() {
        row.classList.add('hovered');
        var addButton = row.querySelector('.add-row');
        if (addButton) {
          addButton.style.display = 'inline-block';
        }
      });
  
      // Sembunyikan tombol aksi saat kursor tidak di atas baris
      row.addEventListener('mouseout', function() {
        row.classList.remove('hovered');
        var addButton = row.querySelector('.add-row');
        if (addButton) {
          addButton.style.display = 'none';
        }
      });
    });
  </script>
    
{% endblock scripts %}