{% extends 'layouts/base_layout.html' %}
{% load static %}
{% block css %}
{% endblock css %}


{% block content %}
<div class="tab-content container-fluid">
    <div class="title mb-5">
        <h1>Data Surat Perintah Tugas ( SPT ) </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <a href="{% url 'sppd:create_spt' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Buat SPT </a>
            </div>
            <div class="col-md-3">
                <div class="table data-table d-flex">
                    <form action="#">
                        <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" id="search">
                    </form>
                    <button class="btn btn-sm btn-success mx-2" type="button">Search</button>
                </div>
            </div>
        </div> 
    </div>

  <div
    id="kt_billing_months"
    class="card-body p-0 tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="kt_billing_months"
  >
  
    <div class="table-responsive">
   
      <table id="datatabel" class="table table-row-bordered gy-5">
        <thead>
            <tr class="fw-semibold fs-6 text-muted">
                <th>No</th>
                <th>No. SPT</th>
                <th>Tanggal</th>
                <th>Uraian</th>
                <th>Pegawai</th>
                <td>Status</td>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for data in spt %}
            {% include 'SPT/modal_print.html' %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.no_spt }}</td>
                    <td>{{ data.tgl_berangkat|date:"d/m/Y" }}</td>
                    <td>
                        <p>Dilaksanakan Selama: <strong>{{ data.durasi }}</strong> Hari , <br> Dari Tanggal: <b><i>{{ data.tgl_berangkat|date:"d/m/Y" }} - {{ data.tgl_kembali|date:"d/m/Y" }}</i></b></p>
                        <p>
                            {{ data.uraian }}
                        </p>
                    </td>
                    <td>
                        Memerintahkan :<br>
                        <ol>
                            {% for detail_spt in data.detailspt_set.all %}
                                <li>{{ detail_spt.pegawai.nama|title }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                    <td> 
                        {% if data.status == 1 %}
                            <a href="#" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-success btn-active-light-success">Disetujui</a>
                        {% elif data.status == 0 %} 
                            <a href="#" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger">Tidak Disetujui</a>
                        {% else %}
                            <a href="#" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-warning btn-active-light-warning">Pending</a>
                        {% endif %}
                        
                    </td>
                    <td>
                        <div class="d-flex">
                            <a href="{% url 'sppd:preview' data.id %}" class="btn btn-sm btn-primary me-3"><i class="fa fa-eye"></i></a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#print" class="btn btn-sm btn-success me-3"><i class="fa fa-print"></i></a>
                            <a href="{% url 'sppd:edit_spt' data.id %}" class="btn btn-sm btn-warning me-3"><i class="fa fa-edit"></i></a>
                            <a href="#" class="btn btn-sm btn-danger me-3" onclick="delete_('delete', `{{ data.no_spt }}`, '{{ data.id }}')"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      
    </div>
    
  </div>
</div>  
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#datatabel').DataTable({
                "searching": true,  // Aktifkan pencarian
                "searchDelay": 500,  // Atur penundaan pencarian (dalam milidetik)
            });
            var table = $('#datatabel').DataTable();
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            } );
        }); 

        function delete_(action, nama, id  ){
                let pesan = action == 'soft_delete' ? "arsipkan" : "hapus";
                let confirmation = action == 'soft_delete' ? "Arsipkan" : "Hapus";
                // let url = $(this).attr('href');
                Swal.fire({
                    title: `Apakah kamu yakin ingin meng${pesan} file ${nama}?`,
                    showCancelButton: true,
                    confirmButtonText: confirmation,
                    cancelButtonText: 'Batal',
                    confirmButtonColor: '#d33',
                    }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `hapus/${id}`,
                            data: {},
                            dataType: "html",
                            timeout: 10000,
                            beforeSend: function() {
                                Swal.fire({
                                    title: 'Memproses.........',
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                });
                                Swal.showLoading();
                            },
                            success: function(response){
                                Swal.fire(`Kata Mereka berhasil di${pesan}!`, '', 'success');
                                setTimeout(function(){
                                    window.location.href = "";
                                }, 2000); 
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                Swal.fire(`Kata Mereka gagal di${pesan}!`, '', 'error');
                            }
                        });
                        
                    }
                });

            }

    </script>
    
{% endblock scripts %}