<style>
  .employee-row:hover {
    background-color: #f5f5f5; 
    cursor: pointer;
  }

</style>
<!-- Modal -->
<div
  class="modal fade modal-xl"
  id="tambah"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Data Pegawai</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <form action="#">
            <input
              class="form-control form-control-sm"
              type="search"
              placeholder="Search"
              aria-label="Search"
              id="search"
            />
          </form>
          <button class="btn btn-sm btn-success mx-2" type="button">
            Search
          </button>
        </div>
        <table class="table table-row-bordered gy-5" id="table1">
          <thead class="fw-semibold fs-6 text-muted">
            <tr>
              <th>No</th>
              <th>Nama Pegawai</th>
              <th>NIP</th>
              <th>Jabatan</th>
              <th>Golongan</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            {% for item in pegawai %}
            <tr class="employee-row">
              <td>{{ forloop.counter }}</td>
              <td>
                <input
                  type="hidden"
                  value="{{ item.id }}"
                  name="id_pegawai"
                  id="id_pegawai"
                  class="pegawai-input"
                />{{ item.nama|title }}
              </td>
              <td>{{ item.nip }}</td>
              <td>{{ item.jabatan.jabatan }}</td>
              <td>{{ item.golongan }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
