{% extends "layouts/base_layout.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="title">
            <h2><i class="fa fa-pencil text-dark"></i> Pengajuan  Surat Perintah Tugas </h2>
        </div>
        <div class="form-create" id="createluar" >
            {% for data in spt %}
            <form action="{% url 'sppd:edit_spt' data.id %}" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-end h-xl-100" style="background-color:#203647a6;background-image:url('/metronic8/demo1/assets/media/stock/600x600/img-62.jpg')">       
                            <!--begin::Body-->
                            <div class="card-body d-flex justify-content-between flex-column ps-xl-18"> 
                                <!--begin::Heading-->
                                <div class="row mb-1">
                                    <div class="col-md-3">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="basic-addon2">No SPT</span>
                                            <span class="form-control" id="basic-addon2">{{data.no_spt}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" > Nama SKPD </span>
                                            <span class="form-control" id="basic-addon2">{{data.kd_organisasi.urai}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm"> Tgl Berangkat </span>
                                            <span class="form-control" id="basic-addon2">{{data.tgl_berangkat|date:"d/m/Y"}}</span>
                                        </div>  
                                    </div>                                    
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm"> Tgl Kembali </span>
                                            <span class="form-control" id="basic-addon2">{{data.tgl_kembali|date:"d/m/Y"}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5"  >
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Durasi </span>
                                            <span class="form-control" id="basic-addon2">{{data.durasi}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: #e4e6ef00; color: white; border: 0px;"> Status Perjalanan</span>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" value="Zona I" type="radio" name="status" id="status" {% if data.status %}checked{% endif %}>
                                                    <label class="form-check-label" for="status" style="color: white;">
                                                    Zona I
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" value="Zona II" type="radio" name="status" id="status" {% if data.status_perjalanan %}checked{% endif %}>
                                                    <label class="form-check-label" for="status" style="color: white;">
                                                    Zona II
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" value="Zona III" type="radio" name="status" id="status" {% if data.status_perjalanan %}checked{% endif %}>
                                                    <label class="form-check-label" for="status" style="color: white;">
                                                    Zona III
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" value="Dalam Provinsi" type="radio" name="status" id="status" {% if data.status_perjalanan %}checked{% endif %}>
                                                    <label class="form-check-label" for="status" style="color: white;">
                                                    Dalam Provinsi
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2 mt-2">
                                                    <input class="form-check-input" value="Luar Provinsi" type="radio" name="status" id="status" {% if data.status_perjalanan %}checked{% endif %}>
                                                    <label class="form-check-label" for="status" style="color: white;">
                                                    Luar Provinsi
                                                    </label>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="basic-addon2">Dari Kigamani Ke <input type="hidden" value="Kigamani" name="awal" id="awal"></span>
                                            <span class="form-control" id="basic-addon2">{{ data.kota_tujuan }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm mb-4">
                                            <span class="input-group-text" id="inputGroup-sizing-sm"> PEMBEBANAN ANGGARAN </span>
                                            <input type="text" required data-placeholder="ANGGARAN"class="form-control" name="pembebanan" id="pembebanan" readonly value="DPA/DPPA 2023" style="color: white;"/>
                                        </div>  
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" > Kegiatan </span>
                                            <span class="form-control" id="basic-addon2">{{ data.kegiatan.kd_subkegiatan }} - {{ data.kegiatan.urai_subkegiatan }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-md-12">
                                        <div class="input-group input-group-sm mb-5">
                                            <span class="input-group-text" id="inputGroup-sizing-sm" > Maksud dan Tujuan </span>
                                            <div class="form-control form-control-sm">
                                                <textarea readonly name="maksud" id="maksud" class="form-control"> {{data.uraian}} </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <!--end::Body-->
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-10"><h3><span class="fa fa-users"></span> Data Pegawai</h3></div>
                </div>
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table id="table2" class="table table-row-bordered gy-5">
                      <thead>
                          <tr class="fw-semibold fs-6 text-muted">
                            <th> No </th>
                            <th> Nama Pegawai </th>
                            <th> NIP </th>
                            <th> Pangkat </th>
                            <th> Golongan </th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for detail_spt in data.detailspt_set.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ detail_spt.pegawai.nama|title }} <input type="hidden" value="{{detail_spt.pegawai.id}}" name="id_pegawai[]"> </td>
                                <td>{{ detail_spt.pegawai.nip }}</td>
                                <td>{{ detail_spt.pegawai.pangkat }}</td>
                                <td>{{ detail_spt.pegawai.golongan }}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                    <!--end::Table-->
                </div>

                <!-- <div class="modal-footer d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div> -->
            </form>
            {% endfor %}
            

    
{% endblock %}

{% block scripts %}
    
{% endblock scripts %}