{% extends 'layouts/base_layout.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<div
id="kt_billing_months"
class="card-body p-0 tab-pane fade show active"
role="tabpanel"
aria-labelledby="kt_billing_months"
>
<div class="tab d-flex mb-5">
  <div class="tab-dalam mx-3">
      <a href="{% url 'sppd:laporan' %}">
          <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap SPPD</button>
      </a>
  </div>
  <div class="tab-dalam mx-3">
    <a href="{% url 'sppd:costsheet' %}">
        <button type="button" class="btn btn-sm btn-info" style="border: 1px solid #fff;">SPPD Detail</button>
    </a>
  </div>
  <div class="tab-dalam mx-3">
    <a href="{% url 'sppd:rekap_pegawai' %}">
        <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap Data Pegawai</button>
    </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:rekap' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap SPT</button>
  </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:rekap_pengesah' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Rekap Pengesah</button>
  </a>
</div>
<div class="tab-dalam mx-3">
  <a href="{% url 'sppd:biayarill' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary active" style="border: 1px solid #fff;">Biaya Rill</button>
  </a>
</div>

</div>

  <div id="divider"></div>
  <!-- Isi surat dapat ditambahkan di sini -->

  <h1 class="d-flex justify-content-center"><u>Print Costsheet</u></h1>
 
  
    <div class="table-responsive">
        <table id="datatabel" class="table table-row-bordered gy-5">
            <thead>
                <tr class="fw-semibold fs-6 text-muted">
                    
                    <th>No</th>
                    <th>No SPT</th>
                    <th>No SPPD</th>
                    <th>Tanggal</th>
                    <th>Print Costsheet</th>
                    <th>Print Kwitansi</th>
                </tr>
            </thead>
            <tbody>
              {% for data in spt %}
              {% for dt_sppd in data.sppd_set.all %}
              {% include 'rekap_laporan/detail_sppd/modal_print.html' %}
              {% include 'rekap_laporan/detail_sppd/modal_kwitansi.html' %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.no_spt }}</td>
                <td>{{ dt_sppd.no_sppd }}</td>
                <td>{{ data.tgl_sppd }}</td>
                <td><a href="#">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#print{{data.id}}" class="btn btn-sm btn-success me-3" >Print
                  </a>
                </td>
                <td><a href="#">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#print_kwitansi{{data.id}}" class="btn btn-sm btn-success me-3" >Print
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% endfor %}
              <!-- Tambahkan baris data lainnya sesuai kebutuhan -->
            </tbody>
        </table>
    </div>
    
  <!-- end SPPD Rampung -->

</div>
{% endblock content %}


{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#datatabel').DataTable({
                "searching": true,  // Aktifkan pencarian
                "searchDelay": 500,  // Atur penundaan pencarian (dalam milidetik)
                "lengthMenu": [5, 10, 25, 50, 100], // Opsi panjang tampilan yang tersedia
                "pageLength": 5,
            });
            var table = $('#datatabel').DataTable();
            $('#search').on( 'keyup', function () {
            table.search( this.value ).draw();
            } );
        }); 


    </script>

{% endblock scripts %}
