<div class="modal fade" id="modal-default{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #359aff;">
        <h1 class="modal-title fs-5" style="color: white;"></i> Edit Data Tahun </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
            <form action="edit/{{data.id}}" method="POST">
                {% csrf_token %}
                <div>
                  <input type="hidden" class="form-control" id="id" value="{{data.id}}">
                </div>
                <div class="input-group input-group-sm mb-5">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Tahun </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="thnEdit" id="thnEdit" value="{{data.tahun}}" required />
                  </div>
                <!-- <div class="mb-3">
                  <label for="tahun" class="col-form-label">Tahun</label>
                  <input type="text" class="form-control" name="thnEdit" id="thnEdit" value="{{data.tahun}}">
                </div> -->
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </form>
        </div>
        
    </div>
    </div>
</div>