  <!-- Modal -->
  <div class="modal fade" id="tambah" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #359aff;">
          <h1 class="modal-title fs-5" style="color: white;"></i> Tambah Lokasi </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="tambah/" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Kode Lokasi</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="kd_lokasi" id="kd_lokasi" value="{{data.kd_lokasi}}" required />
                </div>
                <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Urai </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="urai" id="urai" value="{{data.urai}}" required />
                </div>
                <!-- <div class="form-group">
                    <label for="judul"> Kode Lokasi </label>
                    <input type="text" placeholder="Masukkan kode..."
                        class="form-control"
                        name="kd_lokasi"
                        id="kd_lokasi" 
                        value="{{data.id}}"
                        required>
                </div>
                <div class="form-group">
                    <label for="judul"> Urai </label>
                    <input type="text" placeholder="Masukkan urai..."
                        class="form-control"
                        name="urai"
                        id="urai" 
                        value="{{data.urai}}"
                        required>
                </div> -->
                <div class="mb-3">
                  <p id="error-message"></p>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>