<div class="modal fade" id="modal-default{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #359aff;">
        <h1 class="modal-title fs-5" style="color: white;"></i> Edit Data Lokasi </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
            <form action="edit/{{data.id}}" method="POST">
                {% csrf_token %}
                <div>
                  <input type="hidden" class="form-control" id="id" value="{{data.id}}">
                </div>
                <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Kode Lokasi </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="kd_lokEdit" id="kd_lokEdit" value="{{data.kd_lokasi}}" required />
                </div>
                <div class="input-group input-group-sm mb-5">
                  <span class="input-group-text" id="inputGroup-sizing-sm"> Urai </span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="uraiEdit" id="uraiEdit" value="{{data.urai}}" required />
                </div>
               <!--  <div class="mb-3">
                  <label for="kd_lokEdit" class="col-form-label">Kode Lokasi</label>
                  <input type="text" class="form-control" name="kd_lokEdit" id="kd_lokEdit" value="{{data.kd_lokasi}}">
                </div>
                <div class="mb-3">
                    <label for="uraiEdit" class="col-form-label">Urai</label>
                    <input type="text" class="form-control" name="uraiEdit" id="uraiEdit" value="{{data.urai}}">
                  </div> -->
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </form>
        </div>
        
    </div>
    </div>
</div>